extends ../template

block title
	title GetLucky | Campaign

block contain
	.map
	.block.campaign
		.campaign-wrapper
			.campaign-container
				.campaign-main
					.campaign-main-wrapper
						.campaign-main-text Ваши подарки видят все пользователи Get Lucky
						a(href="campaign-for-all.html").btn-submit Подарок для всех
					.campaign-main-wrapper
						.campaign-main-text Ваши подарки видит только та аудитория Get Lucky, которую вы выбираете
						a(href="campaign-target.html").btn-submit Таргетированный подарок
					.campaign-main-wrapper 
						.campaign-main-text Подарки сразу доставляются той аудитории, которую вы выбираете. <br> Пользователям не придется их собирать
						a(href="campaign-supertarget.html").btn-submit Супертаргетированный подарок
					.campaign-main-wrapper 
						a(href="index.html").btn-cancel Назад