extends ../template

block title
	title GetLucky | Campaign

block contain
	.map
	.block.campaign
		.campaign-wrapper
			.campaign-container
				.campaign-main
					a(href="campaign-for-all.html").btn-submit Подарок для всех
					a(href="campaign-target.html").btn-submit Таргетированный подарок
					a(href="campaign-supertarget.html").btn-submit Супертаргетированный подарок
					a(href="index.html").btn-cancel Назад