extends ../template

block title
	title GetLucky | Campaign

block contain
	.map
	.block.campaign
		.campaign-wrapper
			.campaign-container
				.campaign-main
					a(href="campaign-for-all.html").btn-submit Подарок для всех
					a(href="campaign-target.html").btn-submit Таргетированный подарок
					a(href="campaign-supertarget.html").btn-submit Супертаргетированный подарок
					a(href="index.html").btn-cancel Назад

	<script>
		function initMap () {
        map = new google.maps.Map(document.querySelector('.map'), {
            center: new google.maps.LatLng(60.068521, 30.313409),
            zoom: 14,
            streetViewControl: false,
            mapTypeControl: false,
            gestureHandling: 'greedy',
            scrollwheel: false,
            disableDefaultUI: true,
        });
    }
  </script>