extends ../template

block title
    title SUPSHOP | desc

block contain

    .content_1430
        .breadcrumbs.descCrumps
                a.breadcrumbs__item(href="index.html") Главная
                a.breadcrumbs__item(href="index.html") Лента новостей
                a.breadcrumbs__item(href="index.html") Статьи
                a.breadcrumbs__item(href="index.html") Название статьи
    .descBanner
        img(src='img/descBanner.png' alt='banner')

    .guideBlock.desc-page
        .content_890
            h1
                |Ваш гид по выбору надувных SUP- досок. Полное руководство.
            .rowOfContent
                .dateAndAuthor
                    .date
                        p
                            |24
                    .monthAndYear
                        p
                            |марта 2019
                    .line
                    p.author
                        |admin

                .tags
                    a.tag(href='#')
                        p
                            |patagonia
                    a.tag(href='#')
                        p
                            |альпинизм
            p.bold
                |Наш обзор поможет сориентироваться в выборе и профи, и тем,<br> кто только присматривает свою первую доску.

            p.thin
                |Ассортимент надувных SUP-досок год от года меняется. Появляются новые бренды. Во всем этом многообразии нетрудно растеряться даже профессионалу, решившему обновить свой снаряд. Наш обзор поможет сориентироваться в выборе и профи, и тем, кто только присматривает свою первую доску. Мы подготовили этот материал на основе каталога 2019 года и надеемся, что он поможет вам разобраться во всем легко и без перегрева мозга.

            h4
                |Оглавление

            ol
                li
                    a(href='#')|Достоинства надувных SUP-бордов
                li
                    a(href='#')|Характеристики: Ваш вес, рост и размер SUP-бордов
                li
                    a(href='#')|Вы: новичок, любитель, профи
                li
                    a(href='#')|Устройство и технологии
                li
                    a(href='#')|Что в комплекте
                li
                    a(href='#')|Обзор брендов
                li
                    a(href='#')|SUP -термины

            .desk-page-tab-buttons
                button.active
                    |Универсальные
                button
                    |Туринговые
                button
                    |Для серфинга

            .descriptionTabs.desk-page-tab-content
                .tab.active
                    h4
                        |Достоинства надувных SUP-бордов 1
                    p.thinText
                        |Считается, что жесткие доски более быстрые и маневренные, и это правда. Однако современные надувные доски благодаря улучшению технологий изготовления почти приблизились по этим параметрам к жестким и уступают им в среднем на 5%. Поэтому если вы не планируете участвовать в гонках, берите надувную, поскольку у нее немало своих достоинств.
                    p.thinText
                        span.boldText
                            |Прочность.
                        | Жесткую доску повредить не так сложно, задев какой-то подводный камень или при перевозке. Надувной доске не страшны удары о камни, столкновение с корягами и ветками. Проколоть её довольно проблематично. Но если это произойдет, ремонт займет не больше 10 минут.
                    p.thinText.biggerMarBot
                        span.boldText
                            |Удобство хранения и транспортировки.
                        | В багажник обычной легковушки умещается три сумки со сложенными досками. Вы можете улететь со своей надувной SUP-доской в любое место земного шара, сдав её в багаж как чемодан весом всего 8-10 килограммов. При этом за то что она может повредиться, беспокоиться не придется.<br><br> Дружелюбие при падениях. На надувную доску падать намного приятнее, чем на твердую. Именно поэтому новичкам рекомендуются именно они, а не жесткие.<br><br> Долговечность. Производители дают гарантии на свои доски от года до трех лет, но по факту служат они гораздо дольше. Доски из материалов высокого качества почти пожизненно сохраняют свой первозданный вид, а раскраска не выгорает.

                .tab
                    h4
                        |Достоинства надувных SUP-бордов 2
                    p.thinText
                        |Считается, что жесткие доски более быстрые и маневренные, и это правда. Однако современные надувные доски благодаря улучшению технологий изготовления почти приблизились по этим параметрам к жестким и уступают им в среднем на 5%. Поэтому если вы не планируете участвовать в гонках, берите надувную, поскольку у нее немало своих достоинств.
                    p.thinText
                        span.boldText
                            |Прочность.
                        | Жесткую доску повредить не так сложно, задев какой-то подводный камень или при перевозке. Надувной доске не страшны удары о камни, столкновение с корягами и ветками. Проколоть её довольно проблематично. Но если это произойдет, ремонт займет не больше 10 минут.
                    p.thinText.biggerMarBot
                        span.boldText
                            |Удобство хранения и транспортировки.
                        | В багажник обычной легковушки умещается три сумки со сложенными досками. Вы можете улететь со своей надувной SUP-доской в любое место земного шара, сдав её в багаж как чемодан весом всего 8-10 килограммов. При этом за то что она может повредиться, беспокоиться не придется.<br><br> Дружелюбие при падениях. На надувную доску падать намного приятнее, чем на твердую. Именно поэтому новичкам рекомендуются именно они, а не жесткие.<br><br> Долговечность. Производители дают гарантии на свои доски от года до трех лет, но по факту служат они гораздо дольше. Доски из материалов высокого качества почти пожизненно сохраняют свой первозданный вид, а раскраска не выгорает.

                .tab
                    h4
                        |Достоинства надувных SUP-бордов 3
                    p.thinText
                        |Считается, что жесткие доски более быстрые и маневренные, и это правда. Однако современные надувные доски благодаря улучшению технологий изготовления почти приблизились по этим параметрам к жестким и уступают им в среднем на 5%. Поэтому если вы не планируете участвовать в гонках, берите надувную, поскольку у нее немало своих достоинств.
                    p.thinText
                        span.boldText
                            |Прочность.
                        | Жесткую доску повредить не так сложно, задев какой-то подводный камень или при перевозке. Надувной доске не страшны удары о камни, столкновение с корягами и ветками. Проколоть её довольно проблематично. Но если это произойдет, ремонт займет не больше 10 минут.
                    p.thinText.biggerMarBot
                        span.boldText
                            |Удобство хранения и транспортировки.
                        | В багажник обычной легковушки умещается три сумки со сложенными досками. Вы можете улететь со своей надувной SUP-доской в любое место земного шара, сдав её в багаж как чемодан весом всего 8-10 килограммов. При этом за то что она может повредиться, беспокоиться не придется.<br><br> Дружелюбие при падениях. На надувную доску падать намного приятнее, чем на твердую. Именно поэтому новичкам рекомендуются именно они, а не жесткие.<br><br> Долговечность. Производители дают гарантии на свои доски от года до трех лет, но по факту служат они гораздо дольше. Доски из материалов высокого качества почти пожизненно сохраняют свой первозданный вид, а раскраска не выгорает.

            h4
                |Характеристики
            p.thinText
                |Длина, ширина, толщина, литраж и жесткость базовые параметры, определяющие назначение доски. Все линейные величины измеряются в американских футах и дюймах, жесткость в PSI «фунт-сила на квадратный дюйм».

            .ulBlock
                ul
                    li
                        |- обозначение фута.
                    li
                        |1 фут =30,48 см
                ul
                    li
                        |“ - обозначение дюйма.
                    li
                        |1 дюйм = 2,54 см.
                    li
                        |1 атмосфера = 14,6 PSI.

            h4
                |Длина
            img(src='img/boardDeck.png' alt='boards')

            h4
                |5 технологий изготовления: от упрощенной до инновационной
        .redBlock
            .content_890
                p
                    |Самая простая технология. К основе-сердечнику клеится всего один слой ПВХ и бывает что приклеен он некачественно. Разумеется, это не значит, что на доски, изготовленные по этой технологии, обращать внимания не стоит. Просто при выборе доски нужно смотреть, чтобы под поверхностью верхнего слоя не было пузырьков воздуха визитной карточки плохого производителя.
        .content_890
            p.thinText
                |Внешний слой с нанесением печати неармирован и очень тонкий. Доски, изготовленные по такой технологии, обладают наименьшей жесткостью, наименее долговечные, но и самые дешевые одновременно.<br><br> К примеру, бренд Gladiator целенаправленно занимается улучшением досок по этой технологии. В его ассортименте есть линейка Light, доски которой мы особенно рекомендуем новичкам. Модели этой линейки усилены двойными бортами и стрингером для большей жесткости, поэтому более надежны и безопасны.



    .feedbackBlock
        h2
            |обратная связь
        .feedBackVariables
            .questionBlock.feedBackVar
                h3
                    |Задайте вопрос
                p
                    |Помогите нам стать лучше, поделитесь своим мнением. Есть любые вопросы? Мы оперативно ответим на них.
                button.MsgUs
                    |Напишите нам

            .subForNewsBlock.feedBackVar
                h3
                    |Подпишись на новости
                p
                    |Только полезные новости и не чаще 2 раз в неделю — статьи экспертов, обзоры снаряжений.
                .emailSend
                    input(type='email' placeholder='E-mail')
                    button
                        img(src='img/icons/message1.png' alt='sendMessage')
            .socialMedia.feedBackVar
                h3
                    |Присоединяйтесь к нам в соцсетях
                p
                    |Только полезные новости и не чаще 2 раз в неделю — статьи экспертов, обзоры снаряжений.
                .socMediaButons
                    button.darkBlue
                        |VK
                    button.lightBlue
                        |TL
                    button.lightBlue
                        |TW
                    button.darkBlue
                        |FB

    .block.email
        .email-content
            .email-head Оформи подписку и получай свежие предложения и новости
            form.email-form
                input(type="text" placeholder="Email").email-form-input
                label.email-form-submit
                    input(type="submit")
                    | Отправить
