<!DOCTYPE html>
html(lang="en")
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")
	link(rel="stylesheet" href="styles/main.css")
	title GetLucky Buisness | entrance
body
	.wrapper
		.entrance
			.entrance-item
				form.main-block.registration.active
					.main-block-head.registration-head Регистрация бизнес-профиля
					.main-block-content.registration-main
						.block-photo-upload
							.block-photo-upload__avatar
							label.block-photo-upload__link
								<svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10.4999 12.3855C12.4125 12.3855 13.9375 10.9227 13.9375 9.14287C13.9375 7.36306 12.3867 5.90021 10.4999 5.90021C8.61315 5.90021 7.06238 7.36306 7.06238 9.14287C7.06238 10.9227 8.5873 12.3855 10.4999 12.3855Z" fill="#0092FF"/>
									<path d="M0.0581055 3.63276V14.336C0.0581055 15.2625 0.859336 16.0183 1.84149 16.0183H19.1843C20.1664 16.0183 20.9676 15.2625 20.9676 14.336V3.63276C20.9676 2.70628 20.1664 1.95047 19.1843 1.95047H1.84149C0.83349 1.95047 0.0581055 2.70628 0.0581055 3.63276ZM17.0649 4.58361C17.6076 4.58361 18.0212 4.99809 18.0212 5.48571C18.0212 5.99771 17.5818 6.3878 17.0649 6.3878C16.548 6.3878 16.1086 5.97333 16.1086 5.48571C16.0827 4.97371 16.5221 4.58361 17.0649 4.58361ZM10.5 4.68114C13.1104 4.68114 15.2298 6.68037 15.2298 9.14285C15.2298 11.6053 13.1104 13.6046 10.5 13.6046C7.88949 13.6046 5.7701 11.6053 5.7701 9.14285C5.7701 6.68037 7.88949 4.68114 10.5 4.68114Z" fill="#0092FF"/>
									<path d="M6.7264 1.09713C7.08825 1.09713 7.37255 0.82894 7.37255 0.487606C7.37255 0.146273 7.0624 -0.121918 6.7264 -0.121918H4.06424C3.7024 -0.121918 3.41809 0.146273 3.41809 0.487606C3.41809 0.82894 3.7024 1.09713 4.06424 1.09713H6.7264Z" fill="#0092FF"/>
								</svg>
								| Загрузить лого компании
								input(type="file" accept="image/*").block-photo-upload__input
							.block-photo-upload__description Размер фотографии не более 20 Mb в формате png или jpg
						.block-form
							.block-form-column
								label.form-input
									.form-input__descr
										| Название компании (не более 20 символов)
									input(type="text" maxlength="20")
								label.form-input
									.form-input__descr
										| Полное наименование компании (ООО, ИП...)
									input(type="text" data-type-company)
								label.form-input
									.form-input__descr
										| ИНН
									input(type="text" data-inn)
								label.form-input
									.form-input__descr
										| ОГРН
									input(type="text" data-ogrn)
								label.form-input(id="address")
									.form-input__descr
										| Юридический адрес
									input(type="text" data-address)
							.block-form-column
								label.form-input
									.form-input__descr
										| Логин
									input(type="text" max="20")
								label.form-input
									.form-input__descr
										| Пароль
									input(type="password")
								label.form-input
									.form-input__descr
										| Телефон
									input(type="text" data-phone)
								label.form-input
									.form-input__descr
										| E-mail
									input(type="text")
								label.form-input
									.form-input__descr
										| Адрес выдачи подарков
									input(type="text")
					.block-btns
						a(href="#").btn-cancel.mr-30 Отмена
						input(type="submit" value="Создать бизнес-профиль").btn-submit
			.entrance-item
				form.main-block.registration.active
					.main-block-head.registration-head Войти
					.main-block-content.registration-main
						.block-photo-upload
							.block-photo-upload__avatar
							label.block-photo-upload__link
								<svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M10.4999 12.3855C12.4125 12.3855 13.9375 10.9227 13.9375 9.14287C13.9375 7.36306 12.3867 5.90021 10.4999 5.90021C8.61315 5.90021 7.06238 7.36306 7.06238 9.14287C7.06238 10.9227 8.5873 12.3855 10.4999 12.3855Z" fill="#0092FF"/>
									<path d="M0.0581055 3.63276V14.336C0.0581055 15.2625 0.859336 16.0183 1.84149 16.0183H19.1843C20.1664 16.0183 20.9676 15.2625 20.9676 14.336V3.63276C20.9676 2.70628 20.1664 1.95047 19.1843 1.95047H1.84149C0.83349 1.95047 0.0581055 2.70628 0.0581055 3.63276ZM17.0649 4.58361C17.6076 4.58361 18.0212 4.99809 18.0212 5.48571C18.0212 5.99771 17.5818 6.3878 17.0649 6.3878C16.548 6.3878 16.1086 5.97333 16.1086 5.48571C16.0827 4.97371 16.5221 4.58361 17.0649 4.58361ZM10.5 4.68114C13.1104 4.68114 15.2298 6.68037 15.2298 9.14285C15.2298 11.6053 13.1104 13.6046 10.5 13.6046C7.88949 13.6046 5.7701 11.6053 5.7701 9.14285C5.7701 6.68037 7.88949 4.68114 10.5 4.68114Z" fill="#0092FF"/>
									<path d="M6.7264 1.09713C7.08825 1.09713 7.37255 0.82894 7.37255 0.487606C7.37255 0.146273 7.0624 -0.121918 6.7264 -0.121918H4.06424C3.7024 -0.121918 3.41809 0.146273 3.41809 0.487606C3.41809 0.82894 3.7024 1.09713 4.06424 1.09713H6.7264Z" fill="#0092FF"/>
								</svg>
								| Загрузить лого компании
								input(type="file" accept="image/*").block-photo-upload__input
							.block-photo-upload__description Размер фотографии не более 20 Mb в формате png или jpg
						.block-form
							.block-form-column
								label.form-input
									.form-input__descr
										| Название компании (не более 20 символов)
									input(type="text" maxlength="20")
								label.form-input
									.form-input__descr
										| Полное наименование компании (ООО, ИП...)
									input(type="text" data-type-company)
								label.form-input
									.form-input__descr
										| ИНН
									input(type="text" data-inn)
								label.form-input
									.form-input__descr
										| ОГРН
									input(type="text" data-ogrn)
								label.form-input(id="address")
									.form-input__descr
										| Юридический адрес
									input(type="text" data-address)
							.block-form-column
								label.form-input
									.form-input__descr
										| Логин
									input(type="text" max="20")
								label.form-input
									.form-input__descr
										| Пароль
									input(type="password")
								label.form-input
									.form-input__descr
										| Телефон
									input(type="text" data-phone)
								label.form-input
									.form-input__descr
										| E-mail
									input(type="text")
								label.form-input
									.form-input__descr
										| Адрес выдачи подарков
									input(type="text")
					.block-btns
						a(href="#").btn-cancel.mr-30 Отмена
						input(type="submit" value="Создать бизнес-профиль").btn-submit

		
