extends ../template

block title
	title GetLucky Buisness

block contain
	.block
		.main-block.campaings
			.main-block-head Мои кампании
			.main-block-nav
				a.header-link.main-block-nav__link.active(href="#" data-tabs-link) Активные
				a.header-link.main-block-nav__link(href="#" data-tabs-link) На модерации
				a.header-link.main-block-nav__link(href="#" data-tabs-link) Завершенные
			.main-block-content.campaings-inn.main-block-tabs-item.active
				.campaings-inn-row
					a.header-link.campaings-btn-add(href="#")
						<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g filter="url(#filter0_f)">
							<circle cx="24" cy="24" r="18" fill="#0076FF"/>
							</g>
							<circle cx="24" cy="24" r="18" fill="#0092FF"/>
							<g clip-path="url(#clip0)">
							<path d="M24 16.2857C23.1754 16.2857 22.5069 16.9541 22.5069 17.7787V22.5069H17.7788C16.9542 22.5069 16.2857 23.1753 16.2857 23.9999C16.2857 24.8245 16.9542 25.493 17.7788 25.493H22.5069V30.2212C22.5069 31.0458 23.1754 31.7142 24 31.7142C24.8246 31.7142 25.4931 31.0458 25.4931 30.2212V25.493H30.2212C31.0458 25.493 31.7143 24.8245 31.7143 23.9999C31.7143 23.1753 31.0458 22.5069 30.2212 22.5069H25.4931V17.7787C25.4931 16.9541 24.8246 16.2857 24 16.2857Z" fill="white"/>
							</g>
							<defs>
							<filter id="filter0_f" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix"/>
							<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
							<feGaussianBlur stdDeviation="3" result="effect1_foregroundBlur"/>
							</filter>
							<clipPath id="clip0">
							<rect width="15.4286" height="15.4286" fill="white" transform="translate(16.2857 16.2857)"/>
							</clipPath>
							</defs>
						</svg>
						.campaings-btn-add__text Создать новую кампанию

				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить
				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить
				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить
				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить
				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить


			.main-block-content.campaings-inn.main-block-tabs-item
				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить
				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить
				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить
				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить
				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить

			.main-block-content.campaings-inn.main-block-tabs-item
				.main-block-content.campaings-inn.main-block-tabs-item
				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить
				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить
				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить
				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить
				.campaings-inn-row.campaings-item
					.campaings-item-img
						img(src="img/coffee.png")
					.campaings-item-info
						.campaings-item-info__name Кофе
						.campaings-item-info__period 25.01.2019 – 26.01.2019
						.campaings-item-info__count 25 ед.
					.campaings-item-btns
						a.campaings-item-btn(href="#") Изменить
						a.campaings-item-btn(href="#") Остановить

		.main-block
			.main-block-head.main-block-head_with-p Статистика
			.main-block-bar
				.date-pick
					.date-pick-period
						| С
						a(href="#").date-pick-period__link 
							| 04.02.2019
							<svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.24512 0.777657C1.33883 0.777598 1.42984 0.808089 1.50359 0.864249L4.41241 3.07413L7.32124 0.864316C7.40899 0.797654 7.5204 0.767585 7.63098 0.780724C7.74155 0.793863 7.84222 0.849133 7.91084 0.934376C7.97946 1.01962 8.01042 1.12785 7.99689 1.23527C7.98337 1.34268 7.92647 1.44047 7.83872 1.50713L4.67115 3.91344C4.59726 3.96953 4.50618 4 4.41241 4C4.31863 4 4.22755 3.96953 4.15367 3.91344L0.986108 1.50707C0.917215 1.45474 0.866855 1.38282 0.842057 1.30135C0.817258 1.21988 0.819257 1.13293 0.847774 1.05262C0.876291 0.972304 0.929904 0.902642 1.00113 0.853351C1.07236 0.80406 1.15765 0.777599 1.24511 0.777657L1.24512 0.777657Z" fill="#0092FF"/>
							</svg>

					.date-pick-period
						| До
						a(href="#").date-pick-period__link 
							| 04.02.2019
							<svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.24512 0.777657C1.33883 0.777598 1.42984 0.808089 1.50359 0.864249L4.41241 3.07413L7.32124 0.864316C7.40899 0.797654 7.5204 0.767585 7.63098 0.780724C7.74155 0.793863 7.84222 0.849133 7.91084 0.934376C7.97946 1.01962 8.01042 1.12785 7.99689 1.23527C7.98337 1.34268 7.92647 1.44047 7.83872 1.50713L4.67115 3.91344C4.59726 3.96953 4.50618 4 4.41241 4C4.31863 4 4.22755 3.96953 4.15367 3.91344L0.986108 1.50707C0.917215 1.45474 0.866855 1.38282 0.842057 1.30135C0.817258 1.21988 0.819257 1.13293 0.847774 1.05262C0.876291 0.972304 0.929904 0.902642 1.00113 0.853351C1.07236 0.80406 1.15765 0.777599 1.24511 0.777657L1.24512 0.777657Z" fill="#0092FF"/>
							</svg>

				a.pdf(href="#")
					<svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.52801 4.41381L0.528011 4.39083L4.63201 0.367837L4.60801 3.35634C4.58401 3.95404 4.10401 4.41381 3.52801 4.41381ZM12.384 13.4253C13.296 13.4943 14.376 13.7242 14.664 14.3678C14.76 14.5747 14.832 14.9196 14.544 15.3793C14.424 15.5632 14.256 15.6552 14.04 15.6552C13.872 15.6552 13.344 15.6552 12.048 14.115C11.928 14.115 11.784 14.115 11.664 14.115C11.496 14.115 11.4 14.115 11.352 14.138C9.91201 14.3219 8.28001 14.8276 6.88801 15.5173C6.79201 15.6782 6.72001 15.8391 6.62401 15.977C6.60001 16.023 6.55201 16.092 6.50401 16.1609C5.73601 17.4483 4.89601 18.6207 4.15201 18.6207C3.98401 18.6207 3.76801 18.5747 3.57601 18.3219C3.40801 18.115 3.36001 17.8621 3.38401 17.6092C3.50401 16.8966 4.34401 16.2529 5.08801 15.7701L5.11201 15.7471C5.49601 15.4943 5.92801 15.2414 6.36001 15.0115C6.96001 13.7931 7.48801 12.069 7.89601 10.5288H7.68001C6.67201 10.5288 5.85601 9.74715 5.85601 8.78163V3.47129C5.85601 2.50577 6.67201 1.72416 7.68001 1.72416H16.656C16.656 1.58623 16.656 1.51726 16.656 1.51726C16.656 0.873584 16.08 0.344849 15.384 0.344849H5.32801L5.30401 3.35634C5.30401 4.32186 4.48801 5.10347 3.50401 5.10347H0.480011V18.2989C0.480011 18.9425 1.05601 19.4713 1.75201 19.4713H16.632C16.656 18.8736 16.656 14.6437 16.68 10.4598H10.344C10.968 11.4943 11.688 12.5517 12.384 13.4253ZM9.55201 10.4368H8.64001C8.30401 11.8161 7.87201 13.2644 7.36801 14.4598L7.44001 14.4368L7.41601 14.4828C8.66401 13.954 10.032 13.5862 11.28 13.4023C11.328 13.4023 11.4 13.3793 11.472 13.3793L11.448 13.3334H11.472C10.8 12.4828 10.152 11.4483 9.55201 10.4368ZM14.088 14.6667C14.016 14.5058 13.68 14.3219 13.104 14.2069C13.608 14.7357 13.92 14.9196 14.04 14.9425C14.088 14.8276 14.112 14.7357 14.088 14.6667ZM14.064 14.9425V15.2874V14.9425ZM4.10401 17.6552C4.10401 17.7242 4.10401 17.7701 4.15201 17.8391C4.17601 17.8851 4.20001 17.8851 4.20001 17.8851C4.36801 17.8851 4.77601 17.6552 5.73601 16.1379C5.66401 16.1839 5.59201 16.2299 5.54401 16.2759L5.52001 16.2989C4.63201 16.8506 4.15201 17.3334 4.10401 17.6552ZM15.264 5.01151H14.976V6.94255H15.264C15.504 6.94255 15.672 6.91956 15.768 6.87358C15.864 6.82761 15.96 6.73565 16.008 6.59772C16.056 6.45979 16.104 6.27588 16.104 5.97703C16.104 5.60922 16.032 5.33335 15.912 5.19542C15.792 5.08048 15.576 5.01151 15.264 5.01151ZM11.568 4.94255H11.232V5.72416H11.52C11.736 5.72416 11.904 5.67818 11.976 5.60922C12.072 5.54025 12.12 5.4483 12.12 5.33335C12.12 5.21841 12.072 5.12646 12 5.05749C11.928 4.96554 11.784 4.94255 11.568 4.94255ZM23.52 3.65519V8.52876C23.52 9.17243 22.968 9.70117 22.296 9.70117H7.92001C7.24801 9.70117 6.69601 9.17243 6.69601 8.52876V3.65519C6.69601 3.01152 7.24801 2.48278 7.92001 2.48278H22.32C22.992 2.48278 23.52 3.01152 23.52 3.65519ZM13.224 5.31037C13.224 4.96554 13.128 4.68968 12.912 4.50577C12.696 4.32186 12.384 4.22991 11.976 4.22991H10.08V7.77014H11.232V6.4368H11.856C12.312 6.4368 12.672 6.34485 12.888 6.13795C13.104 5.93106 13.224 5.65519 13.224 5.31037ZM17.256 5.97703C17.256 5.72416 17.232 5.49427 17.16 5.28738C17.088 5.08048 16.992 4.87358 16.872 4.71266C16.728 4.55174 16.56 4.41381 16.368 4.34485C16.152 4.25289 15.888 4.20692 15.552 4.20692H13.848V7.74715H15.552C15.744 7.74715 15.984 7.72416 16.224 7.65519C16.416 7.60922 16.584 7.51726 16.728 7.37933C16.896 7.2414 17.016 7.05749 17.112 6.85059C17.208 6.6437 17.256 6.34485 17.256 5.97703ZM20.688 4.20692H17.856V7.74715H19.008V6.29887H20.448V5.58623H19.008V4.96554H20.688V4.20692Z" fill="#316193"/>
					</svg>
					.header-link.header-link_with-td
						| Сохранить PDF
			.main-block-content.main-block-content_p
				table.table
					thead
						tr
							th Название
							th Конверсия
							th Тип кампании
							th Дата проведения кампании
							th Потрачено рублей
							th Выложено подарков
							th Собрано подарков
							th Роздано подарков
							th Стоимость сбора
							th Стоимость посетителя
					tbody
						tr
							td Кофе
							td 33%
							td Подарок для всех
							td 01.12.18 – 02.12.18
							td 1000
							td 100
							td 100
							td 33
							td —
							td —
						tr
							td Кофе
							td 90%
							td Таргетированный
							td 05.12.18 – 06.12.18
							td 2000
							td 50
							td 50
							td 45
							td —
							td —
						tr
							td Кофе
							td 100%
							td Супертаргетированный
							td 10.12.18 – 10.12.18
							td 2500
							td 25
							td 25
							td 25
							td —
							td —
		.main-block
			.main-block-nav.main-block-nav_mb
				a.header-link.main-block-nav__link.active(href="#" data-tabs-link) Пополнить баланс
				a.header-link.main-block-nav__link(href="#" data-tabs-link) История платежей
			.main-block-tabs
				.main-block-tabs-item.active
					.main-block-bar.main-block-bar_center
						.main-block-bar-item На вашем сету 100500 рублей
					.main-block-content.main-block-content_payment
						label.input-text
							.placeholder Сумма
							input(type="text")
						.payment-methods-container
							.payment-methods-head Метод оплаты
							.payment-methods
								a.payment-methods-item(href="#")
									img(src="img/method-1.png", alt="visa")
								a.payment-methods-item(href="#")
									img(src="img/method-2.png", alt="mastercard")
								a.payment-methods-item(href="#")
									img(src="img/method-3.png", alt="webmoney")
								a.payment-methods-item(href="#")
									img(src="img/method-4.png", alt="qiwi")
								a.payment-methods-item(href="#")
									img(src="img/method-5.png", alt="yandex")
								a.payment-methods-item(href="#")
									img(src="img/method-6.png", alt="bitcoin")
								a.payment-methods-item(href="#")
									img(src="img/method-7.png", alt="paypal")
				.main-block-tabs-item
					.main-block-bar.main-block-bar_sb
						.main-block-bar-item
							a.header-link(href="#") Дата заполнения
						.main-block-bar-item
							a.header-link(href="#") Cумма
						.main-block-bar-item
							a.header-link(href="#") Метод оплаты
					.main-block-content.payment-history-wrapper
						.payment-history
							.payment-history-item 06-02-2019
							.payment-history-item 100 500
							.payment-history-item
								img(src="img/method-1.png", alt="visa")
						
						.payment-history
							.payment-history-item 10-12-2018
							.payment-history-item 1 337
							.payment-history-item
								img(src="img/method-2.png", alt="mastercard")

						.payment-history
							.payment-history-item 10-12-2018
							.payment-history-item 1 488
							.payment-history-item
								img(src="img/method-2.png", alt="mastercard")

						.payment-history
							.payment-history-item 10-12-2018
							.payment-history-item 1 488
							.payment-history-item
								img(src="img/method-2.png", alt="mastercard")

						.payment-history
							.payment-history-item 10-12-2018
							.payment-history-item 1 488
							.payment-history-item
								img(src="img/method-2.png", alt="mastercard")

						.payment-history
							.payment-history-item 10-12-2018
							.payment-history-item 1 488 500
							.payment-history-item
								img(src="img/method-2.png", alt="mastercard")



