extends ../template

block title
	title SUPSHOP | main

block contain
	.header-container
		.brands
	.first-slider
		.slide
			img(src="img/slide-1.png", alt="гидрофойлы")
	.container
		.block.content-header
			.content-row.align-start
				.content-side
					h1 
						| первый
						| специализированный
						| сапсерф магазин
				.content-side.flex-end
					.call-to-active
						.call-to-active-item
							.call-to-active-item__text Покупай сейчас плати потом
							.call-to-active-item__img
								img(src="img/icons/check.png")
						.call-to-active-item
							.call-to-active-item__text бесплатная доставка по россии
							.call-to-active-item__img
								img(src="img/icons/check.png")
			.content-row
				.content-side
					.text
						| Высокий стандарт качества, внимание к деталям и любовь к нашему делу<br> являются особенностями нашей студии. 
				.content-side.flex-end
					a(href="#").btn-blue Перейти в каталог
		.block.cards
			.card(style="background: url(img/card-1.png) no-repeat center center")
				.card-head.head-bold guide
				.card-text.text-bold Гид по выбору надувной доски в 2019
				a.card-btn.btn-blue(href="#") Подробнее
			.card(style="background: url(img/card-2.png) no-repeat center center")
				.card-head.head-bold accessories
				.card-text.text-bold Что нужно сапсерферу? Топ 10 аксессуаров
				a.card-btn.btn-blue(href="#") Подробнее
			.card(style="background: url(img/card-3.png) no-repeat center center")
				.card-head.head-bold GLADIATOR SUP
				.card-text.text-bold Доски высокого качества по низкой цене
				a.card-btn.btn-blue(href="#") Подробнее
			.card(style="background: url(img/card-4.png) no-repeat center center")
				.card-head.head-bold SUP SHOP
				.card-text.text-bold Вступай в сообщество SUP SHOP, узнай все про преимущества
				a.card-btn.btn-blue(href="#") Подробнее
		.block.popular
			.content-row
				.content-side
					h2 Популярное
				.content-side.flex-end
					a(href="#").link-redirect 
						| Смотреть страницу
						.link-redirect__arrow
			.popular-items
				.popular-item
					.popular-item-img
						.popular-item-img__like
							img(src="img/icons/like.png")
						img(src="img/popular-item-1.png", alt="")
					.popular-item-descr
						.popular-item-descr__name GLADIATOR RT 11’00 
						.popular-item-descr-text
							.text
								| Supboard надувной с веслом
							.popular-item-descr__cost
								| 23 500 р
						.popular-item-descr-stars
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
				.popular-item
					.popular-item-img
						.popular-item-img__like
							img(src="img/icons/like.png")
						img(src="img/popular-item-2.png", alt="")
					.popular-item-descr
						.popular-item-descr__name raptor 10
						.popular-item-descr-text
							.text
								| Supboard надувной с веслом
							.popular-item-descr__cost
								| 23 500 р
						.popular-item-descr-stars
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
				.popular-item
					.popular-item-img
						.popular-item-img__like
							img(src="img/icons/like.png")
						img(src="img/popular-item-3.png", alt="")
					.popular-item-descr
						.popular-item-descr__name memfis 11’00 
						.popular-item-descr-text
							.text
								| Supboard надувной с веслом
							.popular-item-descr__cost
								| 23 500 р
						.popular-item-descr-stars
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
				.popular-item
					.popular-item-img
						.popular-item-img__like
							img(src="img/icons/like.png")
						img(src="img/popular-item-4.png", alt="")
					.popular-item-descr
						.popular-item-descr__name GLADIATOR RT 10’00 
						.popular-item-descr-text
							.text
								| Supboard надувной с веслом
							.popular-item-descr__cost
								| 23 500 р
						.popular-item-descr-stars
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
							.popular-item-descr-star
								img(src="img/icons/star.png")
	.block.block_black
		.black-item
			.black-item__img
				img(src="img/icons/icon-1.svg", alt="")
			.black-item__text Бесплатная доставка до дверей вашей квартиры
		.black-item
			.black-item__img
				img(src="img/icons/icon-2.svg", alt="")
			.black-item__text Беспроцентная рассрочка на любой вид товара
		.black-item
			.black-item__img
				img(src="img/icons/icon-3.svg", alt="")
			.black-item__text Профессиональная помощь и бесплатная консультация
		.black-item
			.black-item__img
				img(src="img/icons/icon-4.svg", alt="")
			.black-item__text Фирменный ремонт и лояльный сервис для клиентов
	.container
		.block.news
			.content-row
				.content-side
					h2 Статьи и обзоры
				.content-side.flex-end
					a(href="#").link-redirect 
						| Смотреть страницу
						.link-redirect__arrow
			.news-content
				.content-row
					.news-item
						.news-item__img
							img(src="img/news-1.png", alt="")
						.news-item-descr
							.news-item-descr__name Заголовок статьи
							.news-item-descr__text.text
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa...
							.news-item-descr-bottom
								a.link-detail(href="#") Подробнее
								.date 01.05.19
					.news-item
						.news-item__img
							img(src="img/news-2.png", alt="")
						.news-item-descr
							.news-item-descr__name Заголовок статьи
							.news-item-descr__text.text
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa...
							.news-item-descr-bottom
								a.link-detail(href="#") Подробнее
								.date 01.05.19
					.news-item
						.news-item__img
							img(src="img/news-3.png", alt="")
						.news-item-descr
							.news-item-descr__name Заголовок статьи
							.news-item-descr__text.text
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa...
							.news-item-descr-bottom
								a.link-detail(href="#") Подробнее
								.date 01.05.19
					.news-item
						.news-item__img
							img(src="img/news-4.png", alt="")
						.news-item-descr
							.news-item-descr__name Заголовок статьи
							.news-item-descr__text.text
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa...
							.news-item-descr-bottom
								a.link-detail(href="#") Подробнее
								.date 01.05.19
	.container
		.block.about
			.content-row
				.content-side
					h2 о сапсерфинге
			.surf-icon
				img(src="img/icons/surf.png", alt="")
			.about-content
				.about-content-side.left-sided
					.text-bold 
						| Коротко<br>
						| о нашем магазине
				.about-content-side
					.about-content-head Lorem ipsum dolor consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis penatibus et magnis
					.about-content-text.text 
						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
						| <br><br>
						| In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
					a.about-content-btn(href="#") смотреть магазин
		//- .block.feedback
		//- 	.feedback-slider-wrapper
		//- 		.feedback-slider
		//- 			.feedback-slide
		//- 				.feedback-slide-img
		//- 					img(src="img/avatar.png", alt="")
		//- 				.feedback-slide-text
		//- 					.feedback-slide-name
		//- 						.feedback-slide-name__text.text-bold Dmitry Ivanov
		//- 						.feedback-slide-name__date 3 дня назад
		//- 					.feedback-slide-main.text
		//- 						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
		//- 					.popular-item-descr-stars
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 			.feedback-slide
		//- 				.feedback-slide-img
		//- 					img(src="img/avatar.png", alt="")
		//- 				.feedback-slide-text
		//- 					.feedback-slide-name
		//- 						.feedback-slide-name__text.text-bold Dmitry Ivanov
		//- 						.feedback-slide-name__date 3 дня назад
		//- 					.feedback-slide-main.text
		//- 						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
		//- 					.popular-item-descr-stars
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 			.feedback-slide
		//- 				.feedback-slide-img
		//- 					img(src="img/avatar.png", alt="")
		//- 				.feedback-slide-text
		//- 					.feedback-slide-name
		//- 						.feedback-slide-name__text.text-bold Dmitry Ivanov
		//- 						.feedback-slide-name__date 3 дня назад
		//- 					.feedback-slide-main.text
		//- 						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
		//- 					.popular-item-descr-stars
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 			.feedback-slide
		//- 				.feedback-slide-img
		//- 					img(src="img/avatar.png", alt="")
		//- 				.feedback-slide-text
		//- 					.feedback-slide-name
		//- 						.feedback-slide-name__text.text-bold Dmitry Ivanov
		//- 						.feedback-slide-name__date 3 дня назад
		//- 					.feedback-slide-main.text
		//- 						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
		//- 					.popular-item-descr-stars
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 						.popular-item-descr-star
		//- 							img(src="img/icons/star.png")
		//- 		.feedback-slider-arrow__prev
		//- 			<svg width="8" height="14" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 8 14"><defs><path d="M100.00019,5855.99902l7.99988,6.99907v-13.99771z" id="Path-0"/></defs><desc>Generated with Avocode.</desc><g transform="matrix(1,0,0,1,-100,-5849)"><g><title>Polygon 1 copy 5</title><use xlink:href="#Path-0" fill="#121315" fill-opacity="1"/></g></g></svg>
		//- 		.feedback-slider-arrow__next
		//- 			<svg width="8" height="14" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 8 14"><defs><path d="M100.00019,5855.99902l7.99988,6.99907v-13.99771z" id="Path-0"/></defs><desc>Generated with Avocode.</desc><g transform="matrix(1,0,0,1,-100,-5849)"><g><title>Polygon 1 copy 5</title><use xlink:href="#Path-0" fill="#121315" fill-opacity="1"/></g></g></svg>
	.block.email
		.email-content
			.email-head Оформи подписку и получай свежие предложения и новости
			form.email-form
				input(type="text" placeholder="Email").email-form-input
				label.email-form-submit
					input(type="submit")
					| Отправить
	footer.footer
		.footer-top
			.container
				.footer-top-content
					.footer-top-item
						.footer-top-item__head Покупателям
						.footer-top-item__link Обзоры
						.footer-top-item__link Оплата
						.footer-top-item__link Доставка
						.footer-top-item__link Гарантия
						.footer-top-item__link Возврат
						.footer-top-item__link Сервисный центр
						.footer-top-item__link Бонусная программа
					.footer-top-item
						.footer-top-item__head Компания
						.footer-top-item__link О нас
						.footer-top-item__link Команда
						.footer-top-item__link Блог
						.footer-top-item__link Вакансии
						.footer-top-item__link Контакты
					.footer-top-item
						.footer-top-item__head Сапсерферу
						.footer-top-item__link БУ оборудования
						.footer-top-item__link Сапсерфер
						.footer-top-item__link Уроки
					.footer-top-item
						.footer-top-item__head Сотрудничество
						.footer-top-item__link Поставщикам
						.footer-top-item__link Оптовикам
						.footer-top-item__link Партнерская программа
					.footer-top-item
						.footer-top-item__head Контакты
						.footer-top-item__link Россия: +7 (800) 555 14 69
						.footer-top-item__link Москва: 495 118 21 70 
						.footer-top-item__link Санкт-Петербург:
						.footer-top-item__link--row
							a.social-link(href="#")
								img(src="img/icons/vk.png", alt="vk")
							a.social-link(href="#")
								img(src="img/icons/tl.png", alt="tl")
							a.social-link(href="#")
								img(src="img/icons/tw.png", alt="tw")
							a.social-link(href="#")
								img(src="img/icons/fb.png", alt="fb")
						.footer-top-item__link__hash #ясапсерфер
		.footer-bottom
			.container
				.footer-bottom-content
					.footer-bottom-content-side
						.footer-bottom-content-side__item
							img(src="img/footer-bottom-1.png", alt="яндекс-маркет")
						.footer-bottom-content-side__item
							img(src="img/footer-bottom-2.png", alt="объединение суп-проектов")
					.footer-bottom-content-side
						.footer-bottom-content-side__item
							img(src="img/footer-bottom-3.png", alt="рог")
						.footer-bottom-content-side__item
							img(src="img/footer-bottom-4.png", alt="виза")



						



