extends ../template

block title
    title SUPSHOP | Item

block contain
    .header-container.card-wrapper
        .breadcrumbs
            a.breadcrumbs__item(href="index.html") Главная
            a.breadcrumbs__item(href="index.html") Магазин
            a.breadcrumbs__item(href="index.html") Доски
            a.breadcrumbs__item(href="index.html") Gladiator
        
    .container.item-page
        .block.card-block
            .card-main
                .card-gallery-wrapper
                    .card-gallery-mini
                        .card-gallery-mini__img
                            img(src="https://picsum.photos/123")
                        .card-gallery-mini__img
                            img(src="https://picsum.photos/123")
                        .card-gallery-mini__img
                            img(src="https://picsum.photos/123")
                        .card-gallery-mini__img
                            img(src="https://picsum.photos/123")
                        .card-gallery-mini__img
                            img(src="https://picsum.photos/123")
                        .card-gallery-mini__img
                            img(src="https://picsum.photos/123")
                        .card-gallery-mini__img
                            img(src="https://picsum.photos/123")
                        .card-gallery-mini__img
                            img(src="https://picsum.photos/123")
                        .card-gallery-mini__img
                            img(src="https://picsum.photos/123")
                    .card-gallery-big
                        .card-gallery-big__img
                            img(src="https://picsum.photos/700")
                        .card-gallery-big__img
                            img(src="https://picsum.photos/700")
                        .card-gallery-big__img
                            img(src="https://picsum.photos/700")
                        .card-gallery-big__img
                            img(src="https://picsum.photos/700")
                        .card-gallery-big__img
                            img(src="https://picsum.photos/700")
                        .card-gallery-big__img
                            img(src="https://picsum.photos/700")
                        .card-gallery-big__img
                            img(src="https://picsum.photos/700")
                        .card-gallery-big__img
                            img(src="https://picsum.photos/700")
                        .card-gallery-big__img
                            img(src="https://picsum.photos/700")
                .card-info-wrapper
                    .card-info-row.card-info-head
                        h2 Надувная доска GLADIATOR RT 11’00 
                    .card-info-row.card-info-buy-btns
                        a(href="").card-info-btn.card-info-btn--blue
                            img(src="img/icons/cart.png")
                            .card-info-btn__text 25 000р
                        a(href="").card-info-btn.card-info-btn--yellow
                            .card-info-btn--yellow__left
                                img(src="img/icons/yellow-btn.png")
                            .card-info-btn--yellow__center
                                .card-info-btn--yellow__center--head Купить
                                .card-info-btn--yellow__center--main 2400 р / мес
                            .card-info-btn--yellow__right
                                img(src="img/icons/question.png")
                    .card-info-row.card-info-buy-click
                        a(href="").link-detail Купить в один клик
                        .supcoins-description
                            img(src="img/icons/supcoin.png").supcoins-img
                            .text +250 сапкойнов на счёт
                    .card-info-row.card-info-like-compare
                        .card-info-like
                            .popular-item-img__like
                                img(src="img/icons/like.png")
                                | в избранное
                        .card-info-compare
                             a(href="").link-detail К сравнению
                        
                    .card-info-row.card-info-benefit
                        .card-info-benefit__img
                            img(src="img/icons/card-benefit-1.png")
                        .text Бесплатная доставка
                    .card-info-row.card-info-benefit
                        .card-info-benefit__img
                            img(src="img/icons/card-benefit-2.png")
                        .text Беспроцентная рассрочка
                    .card-info-row.card-info-benefit
                        .card-info-benefit__img
                            img(src="img/icons/card-benefit-3.png")
                        .text Нашли дешевле? Вернём разницу!
                    .card-info-row.card-info-text.text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br><br>
                        | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
        .block.recommendation
            .block-head.recommendation-head
                h3  С этим товаром часто покупают
            .block-main.recommendation-main
                .recommendation-main-wrapper
                    .recommendation-item
                        .recommendation-item-img-wrapper
                            .recommendation-item-img
                                img(src="img/recommendation-1.png", alt="")
                        .recommendation-item-description
                            .recommendation-item-description__name raptor 10
                            .recommendation-item-description__cart
                                a(href="")
                                    img(src="img/icons/cart_black.png")
                    .recommendation-item
                        .recommendation-item-img-wrapper
                            .recommendation-item-img
                                img(src="img/recommendation-2.png", alt="")
                        .recommendation-item-description
                            .recommendation-item-description__name GLADIATOR RT 10’00 
                            .recommendation-item-description__cart
                                a(href="")
                                    img(src="img/icons/cart_black.png")
                    .recommendation-item
                        .recommendation-item-img-wrapper
                            .recommendation-item-img
                                img(src="img/recommendation-1.png", alt="")
                        .recommendation-item-description
                            .recommendation-item-description__name raptor 10
                            .recommendation-item-description__cart
                                a(href="")
                                    img(src="img/icons/cart_black.png")
                    .recommendation-item
                        .recommendation-item-img-wrapper
                            .recommendation-item-img
                                img(src="img/recommendation-2.png", alt="")
                        .recommendation-item-description
                            .recommendation-item-description__name GLADIATOR RT 10’00 
                            .recommendation-item-description__cart
                                a(href="")
                                    img(src="img/icons/cart_black.png")
                    .recommendation-item
                        .recommendation-item-img-wrapper
                            .recommendation-item-img
                                img(src="img/recommendation-2.png", alt="")
                        .recommendation-item-description
                            .recommendation-item-description__name GLADIATOR RT 10’00 
                            .recommendation-item-description__cart
                                a(href="")
                                    img(src="img/icons/cart_black.png")
        .block.card-tabs
            .card-tabs-wrapper
                .card-tab.active
                    | Описание
                .card-tab
                    | Характеристики
                .card-tab
                    | Комплектация
                .card-tab
                    | Отзывы (12)
                .card-tab
                    | Тест-драйв
            .card-tabs-content-wrapper
                .card-tabs-content-item.active
                    .card-tabs-content-item__text.text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br><br>
                        | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                .card-tabs-content-item
                    .card-tabs-content-item__text.text
                        | Lorem ipsum sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br><br>
                        | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                .card-tabs-content-item
                    .card-tabs-content-item__text.text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br><br>
                .card-tabs-content-item
                    .card-tabs-content-item__text.text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br><br>
                        | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                .card-tabs-content-item
                    .card-tabs-content-item__text.text
                        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<br><br>
                        | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
        .block
            .block-head.recommendation-head
                h3  видео
    .block-wide.video-block
        video(src="" poster="img/video-preview.png").video
        .video-play-btn
            <svg width="13" height="14" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 13 14"><defs></defs><desc>Generated with Avocode.</desc><g><g><path d="M12.36517,6.77957v0l-11.56757,6.583v0v-13.16563v0z" fill="#ffffff" fill-opacity="1"></path></g></g></svg>
    .block-wide.comments-block

    .container
        .block.popular.similar
            .content-row
                .content-side
                    h3 похожие товары
                .content-side.flex-end
                    a(href="").link-redirect 
                        | Смотреть страницу
                        .link-redirect__arrow
            .popular-items
                .popular-item
                    .popular-item-img
                        .popular-item-img__like
                            img(src="img/icons/like.png")
                        img(src="img/popular-item-1.png", alt="")
                        .popular-item-img__cart
                            a(href="")
                                img(src="img/icons/cart_black.png")
                    .popular-item-descr
                        .popular-item-descr-stars-wrapper
                            .popular-item-descr-stars
                                .popular-item-descr-star
                                    img(src="img/icons/star.png")
                                .popular-item-descr-star
                                    img(src="img/icons/star.png")
                                .popular-item-descr-star
                                    img(src="img/icons/star.png")
                                .popular-item-descr-star
                                    img(src="img/icons/star.png")
                                .popular-item-descr-star
                                    img(src="img/icons/star.png")
                            .popular-item-descr-stars-count
                                | (24)
                        .popular-item-descr-text
                            .text
                                | Supboard надувной с веслом
                        .popular-item-descr__name GLADIATOR RT 11’00 
                        .popular-item-descr__cost
                            | 23 500 р
                .popular-item
                    .popular-item-img
                        .popular-item-img__discount
                            img(src="img/icons/discount.png")
                        .popular-item-img__like
                            img(src="img/icons/like.png")
                        img(src="img/popular-item-2.png", alt="")
                        .popular-item-img__cart
                            a(href="")
                                img(src="img/icons/cart_black.png")
                    .popular-item-descr
                        .popular-item-descr-stars-wrapper
                            .popular-item-descr-stars
                                .popular-item-descr-star
                                    img(src="img/icons/star.png")
                                .popular-item-descr-star
                                    img(src="img/icons/star.png")
                                .popular-item-descr-star
                                    img(src="img/icons/star.png")
                                .popular-item-descr-star
                                    img(src="img/icons/star.png")
                                .popular-item-descr-star
                                    img(src="img/icons/star.png")
                            .popular-item-descr-stars-count
                                | (24)
                        .popular-item-descr-text
                            .text
                                | Supboard надувной с веслом
                        .popular-item-descr__name raptor 10
                        .popular-item-descr__cost
                            span.line-through 23 500 р
                            span.text-blue 13 000 р
                .popular-item
                    .popular-item-img
                        .popular-item-img__like
                            img(src="img/icons/like.png")
                        img(src="img/popular-item-3.png", alt="")
                        .popular-item-img__cart
                            a(href="")
                                img(src="img/icons/cart_black.png")
                    .popular-item-descr
                        .popular-item-descr-stars-wrapper
                                .popular-item-descr-stars
                                    .popular-item-descr-star
                                        img(src="img/icons/star.png")
                                    .popular-item-descr-star
                                        img(src="img/icons/star.png")
                                    .popular-item-descr-star
                                        img(src="img/icons/star.png")
                                    .popular-item-descr-star
                                        img(src="img/icons/star.png")
                                    .popular-item-descr-star
                                        img(src="img/icons/star.png")
                                .popular-item-descr-stars-count
                                    | (24)
                        .popular-item-descr-text
                            .text
                                | Supboard надувной с веслом
                        .popular-item-descr__name memfis 11’00 
                        .popular-item-descr__cost
                            | 23 500 р
                .popular-item
                    .popular-item-img
                        .popular-item-img__like
                            img(src="img/icons/like.png")
                        img(src="img/popular-item-4.png", alt="")
                        .popular-item-img__cart
                            a(href="")
                                img(src="img/icons/cart_black.png")
                    .popular-item-descr
                        .popular-item-descr-stars-wrapper
                                .popular-item-descr-stars
                                    .popular-item-descr-star
                                        img(src="img/icons/star.png")
                                    .popular-item-descr-star
                                        img(src="img/icons/star.png")
                                    .popular-item-descr-star
                                        img(src="img/icons/star.png")
                                    .popular-item-descr-star
                                        img(src="img/icons/star.png")
                                    .popular-item-descr-star
                                        img(src="img/icons/star.png")
                                .popular-item-descr-stars-count
                                    | (24)
                        .popular-item-descr-text
                            .text
                                | Supboard надувной с веслом
                        .popular-item-descr__name GLADIATOR RT 10’00 
                        .popular-item-descr__cost
                            | 23 500 р
        .block.pb-130
            .block-head.text-center
                h3 отзывы о магазине
        include ../components/feedback.pug
    include ../components/email.pug








