extends ../template-lk

block title
    title SUPSHOP | LK-orders

block contain
    .lk-block
        .lk-wrapper
            include ../components/lk-sidebar.pug
            .lk-main
                .lk-orders
                    .lk-orders-head
                        .lk-orders-head__text История заказов
                    .lk-orders-main
                        .lk-orders-main-head
                            .lk-orders-main-head__item Номер заказа
                            .lk-orders-main-head__item Дата
                        .lk-orders-main-row
                            .lk-orders-main-cell 045610
                            .lk-orders-main-cell 180519
                            .lk-orders-main-cell 
                                a(href="").link-blue-underline Подробнее
                        .lk-orders-main-row
                            .lk-orders-main-cell 045610
                            .lk-orders-main-cell 180519
                            .lk-orders-main-cell 
                                a(href="").link-blue-underline Подробнее
                        .lk-orders-main-row
                            .lk-orders-main-cell 045610
                            .lk-orders-main-cell 180519
                            .lk-orders-main-cell 
                                a(href="").link-blue-underline Подробнее
                        .lk-orders-main-row
                            .lk-orders-main-cell 045610
                            .lk-orders-main-cell 180519
                            .lk-orders-main-cell 
                                a(href="").link-blue-underline Подробнее
                        .lk-orders-main-row
                            .lk-orders-main-cell 045610
                            .lk-orders-main-cell 180519
                            .lk-orders-main-cell 
                                a(href="").link-blue-underline Подробнее
                        .lk-orders-main-row
                            .lk-orders-main-cell 045610
                            .lk-orders-main-cell 180519
                            .lk-orders-main-cell 
                                a(href="").link-blue-underline Подробнее
                        .lk-orders-main-row
                            .lk-orders-main-cell 045610
                            .lk-orders-main-cell 180519
                            .lk-orders-main-cell 
                                a(href="").link-blue-underline Подробнее
                        .lk-orders-main-row
                            .lk-orders-main-cell 045610
                            .lk-orders-main-cell 180519
                            .lk-orders-main-cell 
                                a(href="").link-blue-underline Подробнее
                        .lk-orders-main-row
                            .lk-orders-main-cell 045610
                            .lk-orders-main-cell 180519
                            .lk-orders-main-cell 
                                a(href="").link-blue-underline Подробнее











