extends ../template

block title 
    title SUPSHOP | News

block contain
    .header-container.catalog-wrapper
        .breadcrumbs
            a.breadcrumbs__item(href="index.html") Главная
            a.breadcrumbs__item(href="index.html") Лента новостей            

        .catalog.news-comp
            .catalog-filter
                .catalog-filter-name Статьи
                .catalog-filter--line.catalog-filter--line_colored
                .catalog-row
                    .catalog-input
                        input.catalog-input__input(type="text" placeholder="Поиск")
                        .catalog-input__img
                            img(src="img/icons/search-img.png")
                    label.catalog-row-label
                        .catalog-row-label__name Все материалы
                        .catalog-row-label__square
                        input.catalog-row-label__input(type="checkbox")
                    label.catalog-row-label
                        .catalog-row-label__name Как выбрать...
                        .catalog-row-label__square
                        input.catalog-row-label__input(type="checkbox")
                    label.catalog-row-label
                        .catalog-row-label__name Обзоры снаряжения
                        .catalog-row-label__square
                        input.catalog-row-label__input(type="checkbox")
                .catalog-filter--line                    
                

                .catalog-row
                    .catalog-row-head Теги
                    .catalog-row-tags
                        .catalog-row-tags-item
                            a(href="") patagonia
                        .catalog-row-tags-item
                            a(href="") альпинизм
                        .catalog-row-tags-item
                            a(href="") xxl
                        .catalog-row-tags-item
                            a(href="") серф
                        .catalog-row-tags-item.active
                            a(href="") полезное

            .catalog-results                
                .catalog-results-output
                    .catalog-output-item
                        .catalog-output-item-new(data-aos="fade-up" data-aos-delay="0")
                            .catalog-output-item-new-img
                                img(src="img/new1.png", alt="")
                            .catalog-output-item-new-info
                                .catalog-output-item-new-top-row
                                    .catalog-output-item-new-top-row-left
                                        .catalog-output-item-new-top-row-left-date
                                            span 11
                                        .catalog-output-item-new-top-row-left-month
                                            span марта
                                        .catalog-output-item-new-top-row-left-year
                                            span &nbsp;2019
                                        .catalog-output-item-new-top-row-left-author
                                            span Дмитрий Иванов
                                    .catalog-output-item-new-top-row-right
                                        .catalog-row-tags
                                            .catalog-row-tags-item
                                                a(href="") patagonia
                                            .catalog-row-tags-item
                                                a(href="") альпинизм
                                            .catalog-row-tags-item
                                                a(href="") xxl
                                .catalog-output-item-new-top-row.text
                                    .catalog-output-item-new-top-header
                                        span Взобравшись на первую вершину
                                    .catalog-output-item-new-top-text
                                        span Aenean imperdiet. Etiam ultricies nisi vel
                                        | augue. Curabitur ullamcorper ultricies nisi. 
                                        | Nam eget dui. Etiam rhoncus. Maecenas tempus, 
                                        | tellus eget condimentum rhoncus, sem quam semper
                                        | libero, sit amet adipiscing sem neque sed ipsum.
                                .catalog-output-item-new-top-row.btn    
                                    a(href="") Подробнее

                    .catalog-output-item
                        .catalog-output-item-new(data-aos="fade-up" data-aos-delay="0")
                            .catalog-output-item-new-img
                                img(src="img/new1.png", alt="")
                            .catalog-output-item-new-info
                                .catalog-output-item-new-top-row
                                    .catalog-output-item-new-top-row-left
                                        .catalog-output-item-new-top-row-left-date
                                            span 11
                                        .catalog-output-item-new-top-row-left-month
                                            span марта
                                        .catalog-output-item-new-top-row-left-year
                                            span &nbsp;2019
                                        .catalog-output-item-new-top-row-left-author
                                            span Дмитрий Иванов
                                    .catalog-output-item-new-top-row-right
                                        .catalog-row-tags
                                            .catalog-row-tags-item
                                                a(href="") patagonia
                                            .catalog-row-tags-item
                                                a(href="") альпинизм
                                            .catalog-row-tags-item
                                                a(href="") xxl
                                .catalog-output-item-new-top-row.text
                                    .catalog-output-item-new-top-header
                                        span Взобравшись на первую вершину
                                    .catalog-output-item-new-top-text
                                        span Aenean imperdiet. Etiam ultricies nisi vel
                                        | augue. Curabitur ullamcorper ultricies nisi. 
                                        | Nam eget dui. Etiam rhoncus. Maecenas tempus, 
                                        | tellus eget condimentum rhoncus, sem quam semper
                                        | libero, sit amet adipiscing sem neque sed ipsum.
                                .catalog-output-item-new-top-row.btn    
                                    a(href="") Подробнее

                    .catalog-output-item
                        .catalog-output-item-new(data-aos="fade-up" data-aos-delay="0")
                            .catalog-output-item-new-img
                                img(src="img/new1.png", alt="")
                            .catalog-output-item-new-info
                                .catalog-output-item-new-top-row
                                    .catalog-output-item-new-top-row-left
                                        .catalog-output-item-new-top-row-left-date
                                            span 11
                                        .catalog-output-item-new-top-row-left-month
                                            span марта
                                        .catalog-output-item-new-top-row-left-year
                                            span &nbsp;2019
                                        .catalog-output-item-new-top-row-left-author
                                            span Дмитрий Иванов
                                    .catalog-output-item-new-top-row-right
                                        .catalog-row-tags
                                            .catalog-row-tags-item
                                                a(href="") patagonia
                                            .catalog-row-tags-item
                                                a(href="") альпинизм
                                            .catalog-row-tags-item
                                                a(href="") xxl
                                .catalog-output-item-new-top-row.text
                                    .catalog-output-item-new-top-header
                                        span Взобравшись на первую вершину
                                    .catalog-output-item-new-top-text
                                        span Aenean imperdiet. Etiam ultricies nisi vel
                                        | augue. Curabitur ullamcorper ultricies nisi. 
                                        | Nam eget dui. Etiam rhoncus. Maecenas tempus, 
                                        | tellus eget condimentum rhoncus, sem quam semper
                                        | libero, sit amet adipiscing sem neque sed ipsum.
                                .catalog-output-item-new-top-row.btn    
                                    a(href="") Подробнее




                   

















