extends ../template-check

block title
    title SUPSHOP | Check

block contain
    .check-block
        .check-header
            a(href="index.html").check-link--back.text 
                img(src="img/icons/arrow-left.png")
                | Возврат к магазину
            a(href="index.html").card-logo
                img(src="img/icons/logo-black.png", alt="supshop")
        .check-wrapper
            .check-goods
                .cart-main-wrapper
                    .cart-main-head
                        h3 товары
                        .cart-main-head-goods-count.text
                            | /&nbsp;&nbsp;&nbsp;&nbsp;2 позиции
                    .catalog-filter--line.catalog-filter--line_colored.cart-main-line
                    .cart-main-bottom
                        .text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
                    .cart-main-goods
                        .cart-main-goods-item
                            .cart-main-goods-item__img
                                img(src="img/cart-good-preview-1.png", alt="GLADIATOR RT 11’00")
                            .cart-main-goods-item-description
                                .cart-main-goods-item-column
                                    .cart-main-goods-item__name.popular-item-descr__name 
                                        .cart-main-goods-item__name--text GLADIATOR RT 10’00
                                        .cart-main-goods-item__name--count (1x)
                                    .cart-main-goods-item__text.text Supboard надувной с веслом
                                .cart-main-goods-item-column
                                    .cart-main-goods-item__remove
                                        .cart-main-goods-item__remove--line
                                        .cart-main-goods-item__remove--line
                                    .cart-main-goods-item__count.popular-item-descr__cost 23 500 р
                        .cart-main-goods-item
                            .cart-main-goods-item__img
                                img(src="img/cart-good-preview-2.png", alt="raptor 10")
                            .cart-main-goods-item-description
                                .cart-main-goods-item-column
                                    .cart-main-goods-item__name.popular-item-descr__name 
                                        .cart-main-goods-item__name--text raptor 10
                                        .cart-main-goods-item__name--count
                                    .cart-main-goods-item__text.text Supboard надувной
                                .cart-main-goods-item-column
                                    .cart-main-goods-item__remove
                                        .cart-main-goods-item__remove--line
                                        .cart-main-goods-item__remove--line
                                    .cart-main-goods-item__count.popular-item-descr__cost 13 500 р
                        .cart-main-goods-item
                            .cart-main-goods-item__img
                                img(src="img/cart-good-preview-1.png", alt="GLADIATOR RT 11’00")
                            .cart-main-goods-item-description
                                .cart-main-goods-item-column
                                    .cart-main-goods-item__name.popular-item-descr__name 
                                        .cart-main-goods-item__name--text GLADIATOR RT 10’00
                                        .cart-main-goods-item__name--count (1x)
                                    .cart-main-goods-item__text.text Supboard надувной с веслом
                                .cart-main-goods-item-column
                                    .cart-main-goods-item__remove
                                        .cart-main-goods-item__remove--line
                                        .cart-main-goods-item__remove--line
                                    .cart-main-goods-item__count.popular-item-descr__cost 23 500 р
                        .cart-main-goods-item
                            .cart-main-goods-item__img
                                img(src="img/cart-good-preview-1.png", alt="GLADIATOR RT 11’00")
                            .cart-main-goods-item-description
                                .cart-main-goods-item-column
                                    .cart-main-goods-item__name.popular-item-descr__name 
                                        .cart-main-goods-item__name--text GLADIATOR RT 10’00
                                        .cart-main-goods-item__name--count (1x)
                                    .cart-main-goods-item__text.text Supboard надувной с веслом
                                .cart-main-goods-item-column
                                    .cart-main-goods-item__remove
                                        .cart-main-goods-item__remove--line
                                        .cart-main-goods-item__remove--line
                                    .cart-main-goods-item__count.popular-item-descr__cost 23 500 р
                        .cart-main-goods-item
                            .cart-main-goods-item__img
                                img(src="img/cart-good-preview-1.png", alt="GLADIATOR RT 11’00")
                            .cart-main-goods-item-description
                                .cart-main-goods-item-column
                                    .cart-main-goods-item__name.popular-item-descr__name 
                                        .cart-main-goods-item__name--text GLADIATOR RT 10’00
                                        .cart-main-goods-item__name--count (1x)
                                    .cart-main-goods-item__text.text Supboard надувной с веслом
                                .cart-main-goods-item-column
                                    .cart-main-goods-item__remove
                                        .cart-main-goods-item__remove--line
                                        .cart-main-goods-item__remove--line
                                    .cart-main-goods-item__count.popular-item-descr__cost 23 500 р
                    

            .check-billing

