extends ../template

block title
    title SUPSHOP | Promo

block contain


    .block.timerSlideWrap
        .feedback-slider-wrapper
            .timerSlider
                .feedback-slide-wrapper
                    .timer-slide
                        .timerBlock
                            .content_1430
                                img(src='img/supshop.png', alt='supshop')
                                p.subText
                                    |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>
                                    |Aenean commodo ligula eget dolor.
                                .oneFourBlock
                                    p.oneFourText
                                        |01
                                    .whiteLine
                                    p.oneFourText
                                        |04
                .feedback-slide-wrapper
                    .timer-slide
                        .timerBlock
                            .content_1430
                                img(src='img/supshop.png', alt='supshop')
                                p.subText
                                    |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>
                                    |Aenean commodo ligula eget dolor.
                                .oneFourBlock
                                    p.oneFourText
                                        |02
                                    .whiteLine
                                    p.oneFourText
                                        |04
                .feedback-slide-wrapper
                    .timer-slide
                        .timerBlock
                            .content_1430
                                img(src='img/supshop.png', alt='supshop')
                                p.subText
                                    |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>
                                    |Aenean commodo ligula eget dolor.
                                .oneFourBlock
                                    p.oneFourText
                                        |03
                                    .whiteLine
                                    p.oneFourText
                                        |04
                .feedback-slide-wrapper
                    .timer-slide
                        .timerBlock
                            .content_1430
                                img(src='img/supshop.png', alt='supshop')
                                p.subText
                                    |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>
                                    |Aenean commodo ligula eget dolor.
                                .oneFourBlock
                                    p.oneFourText
                                        |04
                                    .whiteLine
                                    p.oneFourText
                                        |04
            .feedback-slider-arrow__prev.promo-header-slider__btn
                <svg width="8" height="14" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 8 14"><defs><path d="M100.00019,5855.99902l7.99988,6.99907v-13.99771z" id="Path-0"/></defs><desc>Generated with Avocode.</desc><g transform="matrix(1,0,0,1,-100,-5849)"><g><title>Polygon 1 copy 5</title><use xlink:href="#Path-0" fill="#121315" fill-opacity="1"/></g></g></svg>
            .feedback-slider-arrow__next.promo-header-slider__btn
                <svg width="8" height="14" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 8 14"><defs><path d="M100.00019,5855.99902l7.99988,6.99907v-13.99771z" id="Path-0"/></defs><desc>Generated with Avocode.</desc><g transform="matrix(1,0,0,1,-100,-5849)"><g><title>Polygon 1 copy 5</title><use xlink:href="#Path-0" fill="#121315" fill-opacity="1"/></g></g></svg>
        .timerDiv
            .timer
                .daysWrap
                    p#days
                    p.timerSub
                        |дней
                span.colon
                    |:
                .hoursWrap
                    p#hours
                    p.timerSub
                        |часов
                span.colon
                    |:
                .minutesWrap
                    p#minutes
                    p.timerSub
                        |минут
                span.colon
                    |:
                .secondsWrap
                    p#seconds
                    p.timerSub
                        |секунд

            .progressBar
                .progressFill#progressBar

    .descriptionBlock
        .content_1430
            h1
                |описание
            .underDescrBlock
            .textBlock
                p.boldText
                    |Lorem ipsum dolor consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis
                    |penatibus et magnis
                p.regularText
                    |Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    |montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                    |fringilla vel, aliquet nec, vulputate eget, arcu.

                .dropDownBlock
                    button
                        .stocksButton
                            |Смотреть Акции
                            .arrowDown
                    .dropDownMenu#dropDownMenu
                        a(href="") акция 1
                        a(href="") акция 2
                        a(href="") акция 3
                        a(href="") акция 4
                        a(href="") акция 5
                        a(href="") акция 6

    .container.sliderBlock
        .block.feedback
            .feedback-slider-wrapper
                .goodsSlider
                    .feedback-slide-wrapper
                        .popular-item(data-aos="fade-up" data-aos-delay="200")
                            .popular-item-img
                                .popular-item-img__like
                                    img(src="img/icons/like.png")
                                img(src="img/popular-item-1.png", alt="")
                                .popular-item-img__cart
                                    a(href="#")
                                        img(src="img/icons/cart_black.png")
                            .popular-item-descr
                                .popular-item-descr-stars-wrapper
                                    .popular-item-descr-stars
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                    .popular-item-descr-stars-count
                                        | (24)
                                .popular-item-descr-text
                                    .text
                                        | Supboard надувной с веслом
                                .popular-item-descr__name GLADIATOR RT 11’00
                                .popular-item-descr__cost
                                    | 23 500 р
                    .feedback-slide-wrapper
                        .popular-item(data-aos="fade-up" data-aos-delay="400")
                            .popular-item-img
                                .popular-item-img__discount
                                    img(src="img/icons/discount.png")
                                .popular-item-img__like
                                    img(src="img/icons/like.png")
                                img(src="img/popular-item-2.png", alt="")
                                .popular-item-img__cart
                                    a(href="#")
                                        img(src="img/icons/cart_black.png")
                            .popular-item-descr
                                .popular-item-descr-stars-wrapper
                                    .popular-item-descr-stars
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                    .popular-item-descr-stars-count
                                        | (24)
                                .popular-item-descr-text
                                    .text
                                        | Supboard надувной с веслом
                                .popular-item-descr__name raptor 10
                                .popular-item-descr__cost
                                    | 23 500 р
                    .feedback-slide-wrapper
                        .popular-item(data-aos="fade-up" data-aos-delay="600")
                            .popular-item-img
                                .popular-item-img__like
                                    img(src="img/icons/like.png")
                                img(src="img/popular-item-3.png", alt="")
                                .popular-item-img__cart
                                    a(href="#")
                                        img(src="img/icons/cart_black.png")
                            .popular-item-descr
                                .popular-item-descr-stars-wrapper
                                        .popular-item-descr-stars
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                        .popular-item-descr-stars-count
                                            | (24)
                                .popular-item-descr-text
                                    .text
                                        | Supboard надувной с веслом
                                .popular-item-descr__name memfis 11’00
                                .popular-item-descr__cost
                                    | 23 500 р
                    .feedback-slide-wrapper
                        .popular-item(data-aos="fade-up" data-aos-delay="800")
                            .popular-item-img
                                .popular-item-img__like
                                    img(src="img/icons/like.png")
                                img(src="img/popular-item-4.png", alt="")
                                .popular-item-img__cart
                                    a(href="#")
                                        img(src="img/icons/cart_black.png")
                            .popular-item-descr
                                .popular-item-descr-stars-wrapper
                                        .popular-item-descr-stars
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                        .popular-item-descr-stars-count
                                            | (24)
                                .popular-item-descr-text
                                    .text
                                        | Supboard надувной с веслом
                                .popular-item-descr__name GLADIATOR RT 10’00
                                .popular-item-descr__cost
                                    | 23 500 р
                    .feedback-slide-wrapper
                        .popular-item(data-aos="fade-up" data-aos-delay="1000")
                            .popular-item-img
                                .popular-item-img__like
                                    img(src="img/icons/like.png")
                                img(src="img/popular-item-1.png", alt="")
                                .popular-item-img__cart
                                    a(href="#")
                                        img(src="img/icons/cart_black.png")
                            .popular-item-descr
                                .popular-item-descr-stars-wrapper
                                    .popular-item-descr-stars
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                    .popular-item-descr-stars-count
                                        | (24)
                                .popular-item-descr-text
                                    .text
                                        | Supboard надувной с веслом
                                .popular-item-descr__name GLADIATOR RT 11’00
                                .popular-item-descr__cost
                                    | 23 500 р
                    .feedback-slide-wrapper
                        .popular-item(data-aos="fade-up" data-aos-delay="200")
                            .popular-item-img
                                .popular-item-img__discount
                                    img(src="img/icons/discount.png")
                                .popular-item-img__like
                                    img(src="img/icons/like.png")
                                img(src="img/popular-item-2.png", alt="")
                                .popular-item-img__cart
                                    a(href="#")
                                        img(src="img/icons/cart_black.png")
                            .popular-item-descr
                                .popular-item-descr-stars-wrapper
                                    .popular-item-descr-stars
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                        .popular-item-descr-star
                                            img(src="img/icons/star.png")
                                    .popular-item-descr-stars-count
                                        | (24)
                                .popular-item-descr-text
                                    .text
                                        | Supboard надувной с веслом
                                .popular-item-descr__name raptor 10
                                .popular-item-descr__cost
                                    | 23 500 р
                    .feedback-slide-wrapper
                        .popular-item(data-aos="fade-up" data-aos-delay="400")
                            .popular-item-img
                                .popular-item-img__like
                                    img(src="img/icons/like.png")
                                img(src="img/popular-item-3.png", alt="")
                                .popular-item-img__cart
                                    a(href="#")
                                        img(src="img/icons/cart_black.png")
                            .popular-item-descr
                                .popular-item-descr-stars-wrapper
                                        .popular-item-descr-stars
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                        .popular-item-descr-stars-count
                                            | (24)
                                .popular-item-descr-text
                                    .text
                                        | Supboard надувной с веслом
                                .popular-item-descr__name memfis 11’00
                                .popular-item-descr__cost
                                    | 23 500 р
                    .feedback-slide-wrapper
                        .popular-item(data-aos="fade-up" data-aos-delay="600")
                            .popular-item-img
                                .popular-item-img__like
                                    img(src="img/icons/like.png")
                                img(src="img/popular-item-4.png", alt="")
                                .popular-item-img__cart
                                    a(href="#")
                                        img(src="img/icons/cart_black.png")
                            .popular-item-descr
                                .popular-item-descr-stars-wrapper
                                        .popular-item-descr-stars
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                            .popular-item-descr-star
                                                img(src="img/icons/star.png")
                                        .popular-item-descr-stars-count
                                            | (24)
                                .popular-item-descr-text
                                    .text
                                        | Supboard надувной с веслом
                                .popular-item-descr__name GLADIATOR RT 10’00
                                .popular-item-descr__cost
                                    | 23 500 р
                .feedback-slider-arrow__prev.promo-footer-slider__btn
                    <svg width="8" height="14" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 8 14"><defs><path d="M100.00019,5855.99902l7.99988,6.99907v-13.99771z" id="Path-0"/></defs><desc>Generated with Avocode.</desc><g transform="matrix(1,0,0,1,-100,-5849)"><g><title>Polygon 1 copy 5</title><use xlink:href="#Path-0" fill="#121315" fill-opacity="1"/></g></g></svg>
                .feedback-slider-arrow__next.promo-footer-slider__btn
                    <svg width="8" height="14" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 8 14"><defs><path d="M100.00019,5855.99902l7.99988,6.99907v-13.99771z" id="Path-0"/></defs><desc>Generated with Avocode.</desc><g transform="matrix(1,0,0,1,-100,-5849)"><g><title>Polygon 1 copy 5</title><use xlink:href="#Path-0" fill="#121315" fill-opacity="1"/></g></g></svg>

    .formBlock
        .content_600
            h5
                |Контактная форма
            form
                .inputWrap
                    input(type="text" placeholder="Имя")
                .inputWrap
                    input(type='email' placeholder='Email')
                .textareaWrap
                    textarea(type='textarea' placeholder='Сообщение')
                input.submitButton(type='submit' value='Отправить')

    .feedbackBlock
        h2
            |обратная связь
        .feedBackVariables
            .questionBlock.feedBackVar
                h3
                    |Задайте вопрос
                p
                    |Помогите нам стать лучше, поделитесь своим мнением. Есть любые вопросы? Мы оперативно ответим на них.
                button.MsgUs
                    |Напишите нам

            .subForNewsBlock.feedBackVar
                h3
                    |Подпишись на новости
                p
                    |Только полезные новости и не чаще 2 раз в неделю — статьи экспертов, обзоры снаряжений.
                .emailSend
                    input(type='email' placeholder='E-mail')
                    button
                        img(src='img/icons/message1.png' alt='sendMessage')
            .socialMedia.feedBackVar
                h3
                    |Присоединяйтесь к нам в соцсетях
                p
                    |Только полезные новости и не чаще 2 раз в неделю — статьи экспертов, обзоры снаряжений.
                .socMediaButons
                    button.darkBlue
                        |VK
                    button.lightBlue
                        |TL
                    button.lightBlue
                        |TW
                    button.darkBlue
                        |FB

    .block.email
        .email-content
            .email-head Оформи подписку и получай свежие предложения и новости
            form.email-form
                input(type="text" placeholder="Email").email-form-input
                label.email-form-submit
                    input(type="submit")
                    | Отправить





