.desk-page-tab-content {
    .tab {
        height: 0px;
        overflow: hidden;
        transition-duration: 0.5s;
        transform: translateX(-10000px);
    }
    .tab.active {
        height: unset;
        transform: translateX(0px);
    }    
}
.emailSend {
    input {
        font-family: OpenSans;
        &::placeholder {
            font-family: OpenSans;
        } 
    }    
}
@media screen and (max-width: 1440px) {
    .recommendation-main-wrapper {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .card-tabs-wrapper {
        flex-wrap: wrap;
    }
    .card-gallery-big {
       
    }
} 
@media screen and (max-width: 768px) {    
    .card-main {
        flex-wrap: wrap;
    }
    .card-info-wrapper {
        margin: 0 auto;
    }
    .card-gallery-wrapper {
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .card-gallery-mini {
        order: 2;
        flex: 0 1 100%;
        padding: 0;
        height: 135px;
        margin-top: 20px;
    }
    .card-gallery-big {
        order: 1;
        flex: 0 1 100%;        
    }
    .card-gallery-mini__img {                
        img {
            width: 135px;
            margin: 0 auto;
        }
    }
    .cart-block {
        top: 120px;
    }
    .cart-main-wrapper {
        padding: 100px 60px 100px 110px;
    }
    .cart-main-close {
        top: 20px;
        right: 40px;
    }
    .cart-main-head {
        margin-bottom: 40px;
    }
    .cart-main-line {
        margin-bottom: 40px;
    }
    .card-tabs-content-wrapper {
        padding: 55px 0;
        min-height: 200px;
    }
}
@media screen and (max-width: 426px) {
    .email-form-input {
        margin-bottom: 20px;
    }
    .cart-main-wrapper {
        padding: 60px 25px 60px 30px;
    }
    .cart-main-close {
        width: 25px;
        height: 25px;
        right: 20px;
    }
    .cart-main-goods-item {
        padding: 30px 0px;
        flex-wrap: wrap;
        &:first-child {
            padding: 0 0 30px;
        }
        &:last-child {
            padding: 30px 0 0;
        }
    }
    .cart-main-goods-item__img {
        margin-right: 0;
        margin-bottom: 25px;
        flex: 0 1 100%;
    }
    .cart-main-goods-item-description {
        flex-wrap: wrap;
        .cart-main-goods-item-column {
            flex: 0 1 100%;
            &:first-child {
                margin-top: 15px;
                order: 2;
            }            
        }
    }
    .cart-main-btn-wrapper {
        padding: 30px 0;
    }
    .popular-item-descr__cost {
        text-align: left; 
    }
    .cart-main-goods-item__text {
        max-width: 200px;
    }
    .cart-main-goods-item__name {
        padding-right: 10px;
    }
    .timerDiv {
        width: 100%;
    }
    .guideBlock {
        .desk-page-tab-buttons {        
            margin-bottom: 50px;
        }
        .rowOfContent {
            margin-bottom: 70px;
        }
        .thin {
            margin-bottom: 70px;
        }
        .thinText.biggerMarBot {
            margin-bottom: 70px;
        }
        .ulBlock {
            margin-bottom: 80px;
            ul {
                margin: 0;
            }
        }
        .feedbackBlock {
            padding-top: 0;
        }
    }
}
@media screen and (max-width: 400px) {
    .timerDiv {
        .timer {
            padding: 40px 10px 40px 10px;
            .colon {
                margin: 0 10px;
            }
        }
    }
}