@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "vendor/normalize";
@import "vendor/jquery.scrollbar";
@import "vendor/sumoselect.min";

* {
	box-sizing: border-box;
}

html, body {
	color: $black;
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

.container {
	max-width: 1440px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
}

.text {
	font-family: 'OpenSans', sans-serif;
	font-size: 15px;
	line-height: 24px;
	color: $grey-light;
}

.text-bold {
	font-family: 'OpenSansBold', sans-serif;
}

header {
	font-family: 'Proxima Nova', sans-serif;
}

h1 {
	font-family: 'HelveticaBlack', sans-serif;
	font-size: 52px;
	color: $black;
	text-transform: uppercase;
}

h2, .head-bold {
	font-family: 'HelveticaBlack', sans-serif;
	color: $black;
	font-size: 40px;
	text-transform: uppercase;
}

.header-top {
	background-color: $black;
	&-item {
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
		align-items: center;
		&--last {
			padding: 0;
			align-items: stretch;
			width: 600px;
		}
	}
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding-left: 100px;
	padding-right: 100px;
}

.select {
	&_city {
		.SumoSelect > .CaptionCont {
			background-color: transparent; 
			border: none;
			outline: none;
			color: #8a8a8a;

			&:hover {
				box-shadow: none;
			}
		}

		.SumoSelect > .CaptionCont > label > i {
			background: none;
			border-bottom: 3px solid #8a8a8a;
			border-right: 3px solid #8a8a8a;
			border-left: 3px solid transparent;
			border-top: 3px solid transparent;
		}
	}
}

.SumoSelect > .CaptionCont > label > i {
	background-image: none;
	width: 6px;
	height: 6px;
	transform: rotate(45deg)
}

.SumoSelect.open > .CaptionCont, .SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont {
	box-shadow: none;
}

.header-tel {
	color: #FFFFFF;
	text-decoration: none;
	outline: none;
	margin-right: 35px;
}

.header-callback {
	color: $blue;
	text-decoration: none;
	outline: none;
	white-space: nowrap;
}

.nested-ul {
	position: relative;

	&:hover {
		.nested-ul-inner {
			display: flex;
		}
	}

	&-head {
		display: flex;
		align-items: center;
		cursor: pointer;
		&__text {
			color: #FFFFFF;
			margin-right: 25px;
			white-space: nowrap;
		}
		&__arrow {
			width: 6px;
			height: 6px;
			transform: rotate(45deg);
			border-bottom: 3px solid #ffffff;
			border-right: 3px solid #FFFFFF;
			border-left: 3px solid transparent;
			border-top: 3px solid transparent;
		}
	}

	&-inner {
		position: absolute;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		background: $grey;
		overflow: hidden;
		border-radius: 3px;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		transition: .3s;
		display: none;
		z-index: 10;


		&__item {
			padding: 5px 10px;
			color: #FFFFFF;
			text-decoration: none;
			outline: none;
			transition: .3s;

			&:hover {
				background: lighten($color: $grey, $amount: 10);
			}
		}
	}

	&--blue {
		.nested-ul-head {
			&__text {
				color: $blue;
				text-decoration: underline;
			}

			&__arrow {
				border-bottom: 3px solid $blue;
				border-right: 3px solid $blue;
				border-left: 3px solid transparent;
				border-top: 3px solid transparent;
			}
		}
	}
}

.search-bar {
	display: flex;
	align-items: stretch;
}

.search-input {
	border: none;
	flex: 1;
	width: 542px;
	box-sizing: content-box;
	outline: none;
	padding: 20px;
}

.search-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $blue;
	flex: 0 1 58px;
	cursor: pointer;

	input {
		display: none;
	}

	img {	
		width: 18px;
		height: 25px;
	}
}


.header-bottom {
	background-color: $grey;

	&-item {
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
		align-items: center;

		&--last {
			width: 600px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&-ul {
		padding: 0;
		display: flex;
		align-items: stretch;

		&__li {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 5px;
			color: #FFFFFF;
			text-decoration: none;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				background: #FFFFFF;
				transition: .3s;
				bottom: 0px;
				height: 0px;
			}

			&:last-child:before {
				display: none;
			}

			&:hover:before {
				height: 5px;
			}
		}
	}
}

.btn-gradient {
	width: 234px;
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(-241deg, #00bbd4 0%, #0073ae 100%);
	.header-bottom-btn {
		width: calc(100% - 4px);
    height: calc(100% - 4px);
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		background: $grey;

		p {
			background: linear-gradient(-241deg, #00bbd4 0%, #0073ae 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

.header-functional {
	display: flex;
	align-items: center;

	&__text {
		color: #FFFFFF;
		margin-right: 10px;
	}

	&__liked {
		margin-right: 30px;
		display: flex;
		align-items: center;
	}
}

.brands {
	background: url(../img/brands.png) no-repeat center center;
	background-size: contain;
	height: 61px;
	margin: 40px -30px 30px;
	width: calc(100% + 60px);
}

.slide {
	img {
		width: 100%;
	}
}

.content-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.content-side {
	flex: 0 1 50%;
	display: flex;
}

.call-to-active-item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 20px;

	&__img {
		margin-left: 50px;
	}

	&__text {
		font-family: "HelveticaBlack", sans-serif;
		font-size: 16px;
		text-transform: uppercase;
	}
}

.flex-end {
	justify-content: flex-end;
}

.align-start {
	align-items: flex-start;
}

.flex-start {
	justify-content: flex-start;
}

.btn-blue {
	width: 304px;
	height: 52px;
	background-color: #24b4ff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'OpenSans', sans-serif;
}

.content-header {
	padding-top: 80px;
	padding-bottom: 100px;
}

.cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	padding: 90px 140px 50px;
	flex: 0 1 707px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-size: cover;
	height: 373px;

	&-head  {
		margin-bottom: 35px;
	}

	&-text {
		max-width:  250px;
		line-height: 24px;
	}

	&-btn {
		transition: .3s;
		margin-top: auto;
		background: $black;
		color: #FFFFFF;

		&:hover {
			background: $blue;
		}
	}
}

.link-redirect {
	display: flex;
	align-items: center;
	color: #121315;
	font-family: "Proxima Nova";
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
	&__arrow {
		margin-left: 25px;
		width: 6px;
		height: 6px;
		transform: rotate(-45deg);
		border-bottom: 3px solid $black;
		border-right: 3px solid $black;
		border-left: 3px solid transparent;
		border-top: 3px solid transparent;
	}
}

.popular {
	padding-top: 250px;
	padding-bottom: 210px;

	&-items {
		display: flex;
		justify-content: space-between;
	}

	&-item {
		flex: 0 1 24%;

		&-img {
			position: relative;
			padding: 60px 35px;
			background-color: #fbfbfb;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 433px;

			&__like {
				position: absolute;
				top: 35px;
				right: 35px;

			}
		}

		&-descr {
			padding: 35px;

			&__name {
				color: $black;
				font-family: "Open Sans", sans-serif;
				font-size: 15px;
				font-weight: 400;
				line-height: 24px;
				text-transform: uppercase;
				margin-bottom: 35px;
			}

			&-text {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				height: 36px;
				margin-bottom: 30px;
			}

			&__cost {
				color: $black;
				font-family: "Open Sans", sans-serif;
				font-size: 15px;
				font-weight: 400;
				line-height: 24px;
				flex: 0 1 50%;
				text-align: right;
			}

			&-stars {
				display: flex;
				align-items: center;
			}

			&-star {
				margin-right: 5px;
			}
		}
	}
}

.block_black {
	height: 475px;
	display: flex;
	padding: 200px;
	align-items: flex-start;
	justify-content: center;
	background: $black;
}

.black-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 40px;
	&__img {
		display: flex;
		height: 50px;
		width: 50px;
		margin-bottom: 50px;
		align-items: center;
		justify-content: center;
		img {
			width: 42px;
			height: 42px;
		}
	}

	&__text {
		color: $grey-light;
		font-family: "OpenSans", sans-serif;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		max-width: 200px;
	}
}


.news {
	padding-top: 200px;
	padding-bottom: 200px;

	&-item {
		&-descr {
			padding: 70px 30px;

			&__name {
				color: $black;
				font-family: "OpenSans", sans-serif;
				font-size: 15px;
				font-weight: 400;
				line-height: 24px;
				margin-bottom: 30px;
			}

			&__text {
				margin-bottom: 30px;
			}

			&-bottom {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}
}

.link-detail {
	color: $black;
	font-family: "OpenSans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-decoration: underline;
}

.date {
	color: $grey-light;
	font-family: "OpenSans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

.about {

	margin-bottom: 260px;

	&-content {
		display: flex;
		align-items: flex-start;
		justify-content: center;

		&-side {
			flex: 0 1 60%;
		}

		&-head {
			max-width: 400px;
			color: $black;
			font-family: "OpenSansBold";
			font-size: 15px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 90px;
		}

		&-text {
			max-width: 560px;
			margin-bottom: 100px;
		}

		&-btn {
			width: 394px;
			height: 142px;
			background: $black;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ffffff;
			font-family: "Gotham Pro";
			font-size: 15px;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}
.left-sided {
	flex: 0 1 40%;
}

.surf-icon {
	margin-bottom: 90px;
}

.feedback-slide {
	display: block;
	&-img {
		padding: 15px;
		margin-right: 60px;

		img {
			border-radius: 50%;
		}
	}

	&-text {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-direction: column;
	}

	&-main {
			max-width: 400px;
	}

	&-name {
		display: flex;
		align-items: center;
		&__text {
			margin-right: 40px;
		}

		&__date {
			color: $grey-light;
			font-family: "OpenSansBold", sans-serif;
			font-size: 13px;
			font-weight: 400;
			line-height: 24px;
		}
	}
}

.feedback-slider {
	display: flex;

	&-wrapper {
		position: relative;
	}
	&-arrow__next{
		position: absolute;
		top: 50%;
		right: -30px;
		transform: rotate(-180deg)
	}
	&-arrow__prev{
		position: absolute;
		top: 50%;
		left: -30px;
		transform: rotate(0deg)
	}
}


.email {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(../img/email-background.png) no-repeat center center;
	background-size: cover;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.8);
	}

	&-content {
		position: relative;
		z-index: 5;
		display: flex;
		align-items: center;
		flex-direction: column;

	}

	&-head {
		color: #ffffff;
		font-family: "OpenSans", sans-serif;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 40px;
	}

	&-form {
		display: flex;
		align-items: stretch;

		&-input {
			background: transparent;
			outline: none;
			border: 1px solid #b0b0b0;
			opacity: .5;
			width: 471px;
			height: 71px;
			padding: 30px 60px;
			color: #b0b0b0;
			font-family: "OpenSans", sans-serif;
		}

		&-submit {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 234px;
			height: 71px;
			background: $blue;
			color: #FFFFFF;
			font-family: 'OpenSans', sans-serif;
			cursor: pointer;

			input {
				display: none;
			}
		}
	}
}


.footer-top {
	background: $black;
	padding: 125px 0 60px;
	&-content {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&-item {
		&__head {
			color: #ffffff;
			font-family: "OpenSans", sans-serif;
			font-size: 15px;
			font-weight: 700;
			line-height: 24px;
			margin-bottom: 40px;
		}

		&__link {
			color: #53575f;
			font-family: "OpenSans", sans-serif;
			font-size: 15px;
			font-weight: 400;
			line-height: 29px;
			&--row {
				display: flex;
				margin: 50px 0;
				.social-link {
					margin-right: 10px;
				}
			}
			&__hash {
				color: #404349;
				font-family: "OpenSans", sans-serif;
				font-size: 25px;
				font-weight: 300;
			}
		}
	}
}


.footer-bottom {
	background: #313236;
	padding: 40px 0;
	&-content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-side {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}