@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "vendor/normalize";
@import "vendor/jquery.scrollbar";
@import "vendor/sumoselect.min";
@import "vendor/slick";
@import "vendor/aos";

* {
	box-sizing: border-box;
}

html, body {
	color: $black;
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

label {
	cursor: pointer;
}

input {
	outline: none;
}

.wrapper {
	overflow: hidden;
	@include adapt(1023px) {
		padding-top: 139px;
	}
}

.container {
	max-width: 1440px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 auto;
}

.text {
	font-family: 'OpenSans', sans-serif;
	font-size: 15px;
	line-height: 24px;
	color: $grey-light;
}

.text-bold {
	font-family: 'OpenSansBold', sans-serif;
}

header {
	font-family: 'Proxima Nova', sans-serif;

	@include adapt(1023px) {
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		right: 0;
	}
}

h1 {
	font-family: 'HelveticaBlack', sans-serif;
	font-size: 52px;
	color: $black;
	text-transform: uppercase;
	@include adapt(1220px) {
		font-size: 40px;
	}
	@include adapt(768px) {
		font-size: 24px;
	}
	@include adapt(767px) {
		font-size: 22px;
	}
}

h2, .head-bold {
	font-family: 'HelveticaBlack', sans-serif;
	color: $black;
	font-size: 40px;
	text-transform: uppercase;
	@include adapt(767px) {
		font-size: 24px;
	}
}

.header-top {
	background-color: $black;
	&-item {
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		align-items: center;
		&--last {
			padding: 0;
			align-items: stretch;
			justify-content: flex-end;
			@include adapt(1023px) {
				width: 100%;
			}
		}
	}
}

.burger-menu {
	width: 20px;
	height: 14px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	cursor: pointer;
	display: none;
	margin-left: 20px;
	@include adapt(1023px) {
		display: flex;
	}

	&__line {
		width: 100%;
		height: 1px;
		background: #FFFFFF;
		transition: .3s;
		&-1 {
			width: 70%;
		}
		&-2 {
			width: 40%;
		}
	}

	&.active {
		.burger-menu {
			&__line {
				&-1 {
					width: 100%;
					transform: translateY(6.5px) rotate(45deg);
					transition-delay: .4s;
				}
				&-2 {
					width: 0%;
				}
				&-3 {
					transform: translateY(-6.5px) rotate(-45deg);
					transition-delay: .4s;
				}
			}
		}
	}
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding-left: 100px;
	padding-right: 100px;
	@include adapt(1440px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.select {
	&_city {
		.SumoSelect > .CaptionCont {
			background-color: transparent; 
			border: none;
			outline: none;
			color: #8a8a8a;
			@include adapt(1220px) {
				font-size: 14px;
			}

			&:hover {
				box-shadow: none;
			}
		}

		.SumoSelect > .CaptionCont > label > i {
			background: none;
			border-bottom: 3px solid #8a8a8a;
			border-right: 3px solid #8a8a8a;
			border-left: 3px solid transparent;
			border-top: 3px solid transparent;
		}
	}
}

.SumoSelect {
	@include adapt(1220px) {
		width: 170px;
	}
}

.SumoSelect > .CaptionCont > label > i {
	background-image: none;
	width: 6px;
	height: 6px;
	transform: rotate(45deg)
}

.SumoSelect.open > .CaptionCont, .SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont {
	box-shadow: none;
}

.header-tel {
	color: #FFFFFF;
	text-decoration: none;
	outline: none;
	margin-right: 35px;
	white-space: nowrap;
}

.header-callback {
	color: $blue;
	text-decoration: none;
	outline: none;
	white-space: nowrap;
}

.nested-ul {
	position: relative;

	&:hover {
		.nested-ul-inner {
			display: flex;
		}
	}

	&-head {
		display: flex;
		align-items: center;
		cursor: pointer;
		&__text {
			color: #FFFFFF;
			margin-right: 25px;
			white-space: nowrap;
			@include adapt(1220px) {
				margin-right: 10px;
			}
		}
		&__arrow {
			width: 6px;
			height: 6px;
			transform: rotate(45deg);
			border-bottom: 3px solid #ffffff;
			border-right: 3px solid #FFFFFF;
			border-left: 3px solid transparent;
			border-top: 3px solid transparent;
		}
	}

	&-inner {
		position: absolute;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		background: $grey;
		overflow: hidden;
		border-radius: 3px;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		transition: .3s;
		display: none;
		z-index: 10;


		&__item {
			padding: 5px 10px;
			color: #FFFFFF;
			text-decoration: none;
			outline: none;
			transition: .3s;

			&:hover {
				background: lighten($color: $grey, $amount: 10);
			}
		}
	}

	&--blue {
		display: flex;
		align-items: center;
		justify-content: center;
		@include adapt(1023px) {
			flex-direction: column;
		}

		.nested-ul-head {
			&__text {
				color: $blue;
				text-decoration: underline;
			}

			&__arrow {
				border-bottom: 3px solid $blue;
				border-right: 3px solid $blue;
				border-left: 3px solid transparent;
				border-top: 3px solid transparent;
			}
		}
	}
}

.search-bar {
	display: flex;
	align-items: stretch;
	justify-content: flex-end;
	@include adapt(1023px) {
		width: 100%;
	}

	&:hover {
		.search-button {
			background: lighten($blue, 10%);
			img {
				transform: rotate(15deg);
			}
		}
	}
}

.search-input {
	border: none;
	flex: 1;
	width: 542px;
	box-sizing: content-box;
	outline: none;
	padding: 10px 20px;
	border-radius: 0px;
	@include adapt(1440px) {
		width: 400px;
	}
	@include adapt(1220px) {
		width: 250px;
	}
}

.search-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $blue;
	flex: 0 1 58px;
	cursor: pointer;
	transition: .3s;

	input {
		display: none;
	}

	img {	
		width: 18px;
		height: 25px;
		transition: .3s;
	}
}


.header-bottom {
	background-color: $grey;

	&-item {
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
		align-items: center;

		&--last {
			width: 600px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include adapt(1440px) {
				width: 458px;
			}
			@include adapt(1023px) {
				width: unset;
				justify-content: flex-end;
			}
		}
	}

	&-ul {
		padding: 0;
		display: flex;
		align-items: stretch;

		&__li {
			display: flex;
			align-items: stretch;
			justify-content: center;
			&:hover .header-bottom-menu-dropdown {
				display: flex;
			}
		}

		&__li--text {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 10px;
			color: #FFFFFF;
			text-decoration: none;
			position: relative;
			cursor: pointer;
			@include adapt(1220px) {
				font-size: 12px;
			}
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				background: #FFFFFF;
				transition: .3s;
				bottom: 0px;
				height: 0px;
			}

			&:last-child:before {
				display: none;
			}

			&:hover {
				&:before {
					height: 5px;
				}
			}
		}
	}
}

.btn-gradient {
	width: 234px;
	height: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(-241deg, #00bbd4 0%, #0073ae 100%);
	.header-bottom-btn {
		width: calc(100% - 4px);
    height: calc(100% - 4px);
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		background: $grey;

		p {
			background: linear-gradient(-241deg, #00bbd4 0%, #0073ae 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

.header-functional {
	display: flex;
	align-items: center;
	text-decoration: none;

	&__text {
		color: #FFFFFF;
		margin-right: 10px;
	}

	&__liked {
		margin-right: 30px;
		display: flex;
		align-items: center;
		@include adapt(1220px) {
			margin-right: 15px;
		}
	}
}

.brands {
	background: url(../img/brands.png) no-repeat center center;
	background-size: contain;
	height: 61px;
	margin: 40px -30px 30px;
	width: calc(100% + 60px);
	@include adapt(1440px) {
		margin: 40px 0 30px;
		width: 100%;
	}
	@include adapt(1023px) {
		display: none;
	}
}

.slide {
	img {
		width: 100%;
	}
}

.content-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.content-header {
	.content-row {
		@include adapt(767px) {
			flex-direction: column;
			align-items: flex-start
		}
	}
}

.news {
	.content-row {
		@include adapt(768px) {
			justify-content: space-around;
			flex-wrap: wrap;
		}
	}
	.content-mob-header {
		@include adapt(767px) {
			justify-content: flex-start;
			flex-wrap: nowrap;
			.content-side {
				white-space: nowrap;
			}
		}
	}
}

.content-side {
	flex: 0 1 50%;
	display: flex;
}

.call-to-active {
	@include adapt(767px) {
		margin-top: 30px;
	}
}

.call-to-active-item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 20px;
	@include adapt(767px) {
		flex-direction: row-reverse;
	}

	&__img {
		margin-left: 50px;
		@include adapt(767px) {
			margin-left: 0px;
			margin-right: 40px;
		}
	}

	&__text {
		font-family: "HelveticaBlack", sans-serif;
		font-size: 16px;
		text-transform: uppercase;
		@include adapt(768px) {
			font-size: 13px;
		}
	}
}

.flex-end {
	justify-content: flex-end;
}

.align-start {
	align-items: flex-start;
}

.flex-start {
	justify-content: flex-start;
}

.btn-blue {
	width: 304px;
	height: 52px;
	background-color: #24b4ff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'OpenSans', sans-serif;

	@include adapt(767px) {
		margin-top: 20px;
	}
}

.content-header {
	padding-top: 80px;
	padding-bottom: 100px;
	@include adapt(767px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@include adapt(767px) {
		flex-direction: column;
		align-items: center;
	}
}

.card {
	padding: 90px 140px 50px;
	flex: 0 1 49.8%;
	margin-bottom: 6px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-size: cover;
	height: 373px;
	@include adapt(1220px) {
		padding: 90px 60px 50px;
	}
	@include adapt(768px) {
		padding: 54px 20px 50px;
	}
	@include adapt(767px) {
		padding: 30px 20px 30px;
		height: 300px;
		width: 100%;
	}
	&-head  {
		margin-bottom: 35px;
	}

	&-text {
		max-width:  250px;
		line-height: 24px;
	}

	&-btn {
		transition: .3s;
		margin-top: auto;
		background: $black;
		color: #FFFFFF;

		@include adapt(420px) {
			width: 100%;
		}

		&:hover {
			background: $blue;
		}
	}
}

.link-redirect {
	display: flex;
	align-items: center;
	color: #121315;
	font-family: "Proxima Nova";
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
	&__arrow {
		margin-left: 25px;
		width: 6px;
		height: 6px;
		transform: rotate(-45deg);
		border-bottom: 3px solid $black;
		border-right: 3px solid $black;
		border-left: 3px solid transparent;
		border-top: 3px solid transparent;
	}
}

.popular {
	padding-top: 250px;
	padding-bottom: 210px;
	@include adapt(1220px) {
		padding-top: 100px;
	}
	@include adapt(767px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	&-items {
		display: flex;
		justify-content: space-between;
		@include adapt(768px) {
			flex-wrap: wrap;
			justify-content: space-around;
		}
	}

	&-item {
		flex: 0 1 24%;
		@include adapt(767px) {
			flex: 1;
		}

		&-img {
			position: relative;
			padding: 60px 35px;
			background-color: #fbfbfb;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 433px;
			overflow: hidden;

			&__like {
				position: absolute;
				top: 35px;
				right: 35px;
				opacity: 0.6;
				transition: .3s;
				cursor: pointer;

				img {
					width: 21px;
				}

				&:hover {
					opacity: 1;
				}

				&.active {
					opacity: 1;
				}
			}

			&__cart {
				position: absolute;
				right: 35px;
				bottom: 35px;
				opacity: 0;
				transform: translateX(30px);
				transition: .3s;
				
				&:hover {
					opacity: 1;
				}
			}

			&__discount {
				position: absolute;
				top: 0;
				left: 0;
				width: 60px;
				height: 60px;
				background: $blue;
				display: flex;
				align-items: center;
				justify-content: center;


			}
		}

		&-descr {
			padding: 35px;
			text-align: center;

			&__name {
				color: $black;
				font-family: "Open Sans", sans-serif;
				font-size: 15px;
				font-weight: 400;
				line-height: 24px;
				text-transform: uppercase;
				margin-bottom: 35px;
				white-space: nowrap;
				@include adapt(767px) {
					text-align: center;
					margin-bottom: 15px;
				}
			}

			&-text {
				display: flex;
				align-items: flex-start;
				justify-content: center;
				margin-bottom: 0px;
				@include adapt(767px) {
					height: unset;
					flex-direction: column;
					align-items: center;
					text-align: center;
				}
			}

			&__cost {
				color: $black;
				font-family: "OpenSansBold", sans-serif;
				font-size: 15px;
				font-weight: 400;
				line-height: 24px;
				text-align: center;
				text-transform: uppercase;
			}

			&-stars {
				display: flex;
				align-items: center;
				&-wrapper {
					display: flex;
					align-items: center;
					justify-content: space-around;
					margin-bottom: 20px;
				}

				&-count {
					font-family: 'OpenSans', sans-serif;
					color: $grey-light;
					font-size: 12px;
				}
				@include adapt(767px) {
					justify-content: center;
				}
			}

			&-star {
				margin-right: 5px;
			}
		}

		&:hover {
			outline: 1px solid $blue;

			.popular-item-img__cart {
				transform: translateX(0px);
				opacity: 1;
			}
		}

	}
}

.block_black {
	height: 475px;
	display: flex;
	padding: 200px;
	align-items: flex-start;
	justify-content: center;
	background: $black;
	@include adapt(1220px) {
		padding: 150px;
	}
	@include adapt(767px) {
		padding: 50px;
		flex-wrap: wrap;
		justify-content: space-around;
		height: unset;
	}
}

.black-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 40px;
	@include adapt(767px) {
		margin: 40px 0;
	}


	&__img {
		display: flex;
		height: 50px;
		width: 50px;
		margin-bottom: 50px;
		align-items: center;
		justify-content: center;
		img {
			width: 42px;
			height: 42px;
		}
	}

	&__text {
		color: $grey-light;
		font-family: "OpenSans", sans-serif;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		max-width: 200px;
	}
}


.news {
	padding-top: 200px;
	padding-bottom: 200px;
	@include adapt(1220px) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@include adapt(767px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	&-item {
		flex: 0 1 24.5%;
		@include adapt(768px) {
			flex: 0 1 48%;
		}

		&__img {
			img {
				width: 100%;
			}
		}


		&-descr {
			padding: 70px 30px 20px;

			&__name {
				color: $black;
				font-family: "OpenSans", sans-serif;
				font-size: 15px;
				font-weight: 400;
				line-height: 24px;
				margin-bottom: 30px;
			}

			&__text {
				margin-bottom: 30px;
			}

			&-bottom {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}
}

.link-detail {
	color: $black;
	font-family: "OpenSans", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-decoration: underline;
}

.date {
	color: $grey-light;
	font-family: "OpenSans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

.about {
	h2 {
		@include adapt(768px) {
			white-space: nowrap;
		}
	}
}

.about {

	margin-bottom: 260px;

	@include adapt(767px) {
		margin-bottom: 50px;
	}

	&-content {
		display: flex;
		align-items: flex-start;
		justify-content: center;

		@include adapt(767px) {
			flex-direction: column;

		}

		&-side {
			flex: 0 1 65%;

			@include adapt(767px) {
				margin-bottom: 30px;
			}
		}

		&-head {
			max-width: 400px;
			color: $black;
			font-family: "OpenSansBold";
			font-size: 15px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 90px;
			@include adapt(767px) {
				margin-bottom: 40px;
			}
		}

		&-text {
			max-width: 560px;
			margin-bottom: 100px;
		}

		&-btn {
			width: 394px;
			height: 142px;
			background: $black;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ffffff;
			font-family: "OpenSans", sans-serif;
			font-size: 15px;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: none;
			transition: .3s ease;
			@include adapt(767px) {
				width: 100%;
				height: 84px;
			}

			&:hover {
				background: $blue;
			}
		}
	}
}
.left-sided {
	flex: 0 1 35%;
}

.surf-icon {
	margin-bottom: 90px;
	@include adapt(767px) {
		margin-bottom: 30px;
	}
}

.feedback {
	margin-bottom: 100px;
	@include adapt(1440px) {
		padding: 0 50px;
	}
}

.feedback-slider-arrow {
	&__prev {
		cursor: pointer;
	}

	&__next {
		cursor: pointer;
	}
}

.feedback-slide {
	display: flex;
	width: 600px;

	@include adapt(767px) {
		width: 100%;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	&-img {
		padding: 15px;
		margin-right: 60px;
		@include adapt(1220px) {
			margin-right: 20px;
		}
		@include adapt(767px) {
			margin-right: 0px;
		}
		img {
			border-radius: 50%;
		}
	}

	&-text {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-direction: column;
	}

	&-main {
		max-width: 400px;
		@include adapt(1220px) {
			max-width: 200px;
		}
		@include adapt(768px) {
			max-width: unset;
		}
		@include adapt(767px) {
			margin-bottom: 20px;
		}
	}

	&-name {
		display: flex;
		align-items: center;
		@include adapt(767px) {
			justify-content: center;
		}
		&__text {
			margin-right: 40px;
			@include adapt(767px) {
				margin-right: 0px;
				margin-bottom: 30px;
			}
		}

		&__date {
			color: $grey-light;
			font-family: "OpenSansBold", sans-serif;
			font-size: 13px;
			font-weight: 400;
			line-height: 24px;

			@include adapt(767px) {
				display: none;
			}
		}
	}
}

.feedback-slider {
	display: block;

	&-wrapper {
		position: relative;
	}
	&-arrow__next{
		position: absolute;
		top: 50%;
		right: -30px;
		transform: rotate(-180deg)
	}
	&-arrow__prev{
		position: absolute;
		top: 50%;
		left: -30px;
		transform: rotate(0deg)
	}
}


.email {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(../img/email-background.png) no-repeat center center;
	background-size: cover;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.8);
	}

	&-content {
		position: relative;
		z-index: 5;
		display: flex;
		align-items: center;
		flex-direction: column;
		@include adapt(767px) {
			padding: 0 15px;
			width: 100%;
		}
	}

	&-head {
		color: #ffffff;
		font-family: "OpenSans", sans-serif;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		margin-bottom: 40px;
		@include adapt(767px) {
			text-align: center;
			max-width: 250px;
		}
	}

	&-form {
		display: flex;
		align-items: stretch;
		@include adapt(767px) {
			flex-direction: column;
			width: 100%;
		}

		&-input {
			background: transparent;
			outline: none;
			border: 1px solid #b0b0b0;
			opacity: .5;
			width: 471px;
			height: 71px;
			padding: 30px 60px;
			color: #FFFFFF;
			font-family: "OpenSans", sans-serif;
			@include adapt(767px) {
				width: 100%;
				text-align: center;
			}
		}

		&-submit {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 234px;
			height: 71px;
			background: $blue;
			color: #FFFFFF;
			font-family: 'OpenSans', sans-serif;
			cursor: pointer;

			@include adapt(767px) {
				width: 100%;
			}

			input {
				display: none;
			}
		}
	}
}


.footer-top {
	background: $black;
	padding: 125px 0 60px;
	&-content {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@include adapt(768px) {
			flex-wrap: wrap;
		}
		@include adapt(767px) {
			padding: 0 10px;
		}
	}

	&-item {
		@include adapt(768px) {
			flex: 0 1 25%;
			margin-bottom: 30px;
		}
		@include adapt(767px) {
			flex: 0 1 50%;
			margin-bottom: 30px;
			&:nth-child(even) {
				text-align: right;
			}
		}
		&__head {
			color: #ffffff;
			font-family: "OpenSans", sans-serif;
			font-size: 15px;
			font-weight: 700;
			line-height: 24px;
			margin-bottom: 40px;
		}

		&__link {
			display: block;
			text-decoration: none;
			color: #53575f;
			font-family: "OpenSans", sans-serif;
			font-size: 15px;
			font-weight: 400;
			line-height: 29px;
			&--row {
				display: flex;
				margin: 50px 0;
				.social-link {
					margin-right: 10px;
				}
			}
			&__hash {
				color: #404349;
				font-family: "OpenSans", sans-serif;
				font-size: 25px;
				font-weight: 300;
			}
		}
	}
}

.social-link {
	opacity: 0.6;
	transition: .3s;
	img {
		width: 40px;
		height: 40px;
	}

	&:hover {
		opacity: 1;
	}
}

.footer-bottom {
	background: #313236;
	padding: 40px 0;
	&-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adapt(767px) {
			flex-direction: column;
			align-items: stretch;
		}

		&-side {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

	}
}

[data-mob=yandex-zaebal] {
	@include adapt(767px) {
		transform: translateX(20px);
	}
	@include adapt(420px) {
		transform: translateX(8px);
	}
}



.header-mob {
	display: none;
	height: calc(100vh - 139px);
	overflow: scroll;
	&-container {
		display: flex;
		flex-direction: column;
		padding: 30px 15px; 
	}

	&-row {
		margin-bottom: 20px;

		&-side {
			flex: 1;
		}
	}

	.mob-callback {
		.header-top-item {
			flex-direction: column-reverse;
			align-items: stretch;

			.header-tel {
				margin: 20px 0 0 0;
			}
		}
	}

	.mob-nav-lk {
		display: flex;
		align-items: flex-start;

		.header-bottom-ul {
			flex-direction: column;

			&__li {
				justify-content: flex-start;
				margin-bottom: 10px;
				font-size: 16px;
				flex-direction: column;
				align-items: flex-start;

				&--text {
					&:before {
						display: none;
					}
				}
			}
		}

		.mob-lk {
			display: flex;
			justify-content: space-around;
		}
	}



	.nested-ul-inner {
		position: static;
		transform: none;
		margin-top: 10px;
	}
}

[data-mob=hidden] {
	@include adapt(767px) {
		display: none;
	}
}

.news-slider-arrows {
	display: none;
	@include adapt(767px) {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
	}

	&__next, &__prev {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__next {
		transform: rotate(180deg);
	}
}


.header-bottom-menu-dropdown {
	position: absolute;
	left: 0px;
	width: 100%;
	background: rgba(18, 19, 21, 0.95);
	display: none;
	height: 300px;
	align-items: flex-start;
	justify-content: center;
	padding: 75px;
	z-index: 100;
	@include adapt(1023px) {
		position: static;
		width: 100%;
		height: auto;
		padding: 20px 5px 10px;
		background: none;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}

	&__link {
		color: #FFFFFF;
		text-decoration: none;
		margin-right: 20px;
		margin-bottom: 20px;

		@include adapt(1023px) {
			font-size: 12px;
			margin-right: 0px;
			margin-bottom: 10px;
		}

		&:hover {
			text-decoration: underline;
		}

		&:last-child {
			margin-right: 0px;
		}
	}
}

//-------------------------------------------------------------CATALOG------------------------------------------------
//-------------------------------------------------------------CATALOG------------------------------------------------
//-------------------------------------------------------------CATALOG------------------------------------------------
//-------------------------------------------------------------CATALOG------------------------------------------------
//-------------------------------------------------------------CATALOG------------------------------------------------
//-------------------------------------------------------------CATALOG------------------------------------------------
//-------------------------------------------------------------CATALOG------------------------------------------------
//-------------------------------------------------------------CATALOG------------------------------------------------
//-------------------------------------------------------------CATALOG------------------------------------------------
//-------------------------------------------------------------CATALOG------------------------------------------------
//-------------------------------------------------------------CATALOG------------------------------------------------



.breadcrumbs {
	padding-top: 110px;
	padding-bottom: 80px;
	display: flex;
	align-items: center;
	&__item {
		margin-right: 40px;
		position: relative;
		text-decoration: none;
		color: $black;
		font-family: 'OpenSansBold', sans-serif;

		&:after {
			content: '/';
			position: absolute;
			top: 50%;
			right: -22px;
			transform: translateY(-50%);
		}

		&:last-child {
			color: $grey-light;
			&:after {
				display: none;
			}
		}
	}
}

.catalog-wrapper {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.catalog {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
	padding-left: 287px;
	width: 100%;

	&-input {
		position: relative;
		margin-bottom: 30px;

		&__input {
			height: 53px;
			padding: 15px 15px 15px 70px;
			color: $grey;
			font-family: "Proxima Nova", sans-serif;
			font-size: 15px;
		}

		&__img {
			position: absolute;
			top: 55%;
			transform: translateY(-50%);
			left: 30px;
		}
	}

	&-row {
		margin: 30px 0;

		&-head {
			margin-bottom: 75px;
			color: $black;
			font-family: "OpenSans", sans-serif;
			font-size: 15px;
			font-weight: 400;
			line-height: 24px;
		}

		&-label {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 30px;
			font-size: 15px;

			&__name {
				color: $grey-light;
				font-family: 'OpenSans', sans-serif;
			}

			&__input {
				display: none;
			}

			&__square {
				width: 26px;
				height: 26px;
				border-radius: 2px;
				background-color: #ebebeb;
				transition: .3s;
			}

			&.active {
				.catalog-row-label__name {
					color: $blue;
				}
				.catalog-row-label__square {
					background: $blue;
				}
			}
		}
	}

	&-filter {
		flex: 0 1 267px;
		width: 267px;
		position: absolute;
		top: 0;
		left: 0;
		padding-right: 20px;

		&::-webkit-scrollbar {
			width: 3px;
		}

		&::-webkit-scrollbar-thumb {
			width: 3px;
			background: $blue;
			border-radius: 3px;
		}

		&::-webkit-scrollbar-track {
			width: 3px;
			background: $grey-light-1;
		}

		&-name {
			color: $black;
			font-family: "OpenSans", sans-serif;
			font-size: 15px;
			font-weight: 400;
			line-height: 24px;
			text-transform: uppercase;
			margin-bottom: 70px;
		}

		&--line {
			width:  150px;
			position: relative;
			height: 1px;
			background: $grey-light;
			&_colored {
				&:after {
					content: '';
					top: 0;
					left: 0;
					width: 50%;
					height: 1px;
					position: absolute;
					background: $blue;

				}
			}
		}


	}

	&-results {
		flex: 1;

		&-head {
			margin-bottom: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-output {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			justify-content: flex-start;
		}
	}
	&-output-item {
		flex: 0 1 ;
		margin-bottom: 20px;
		margin-right: 20px;
	}

	&-circle {
		&-row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 20px;
		}

		&-item {
			width: 46px;
			height: 46px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-transform: uppercase;
			color: $grey-light-1;
			font-family: "OpenSans", sans-serif;
			font-size: 15px;
			font-weight: 400;
			border: 1px solid $grey-light-1;
			cursor: pointer;
			transition: .4s ease;
		}
	}

	&-color-item {
		border: 3px solid transparent;
		&.active {
			border: 3px solid $blue;
		}
	}
	
}

[data-choose-size="1"] {
	.catalog-size-item.active {
		background: $blue;
		color: #FFFFFF;
		border-color: $blue;
	}
}

[data-choose-size="0"] {
	.catalog-size-item.active {
		background: $grey-light-1;
		color: $black;
		border-color: $grey-light-1;
	}
}

.tabs {
	display: flex;
	align-items: center;
	justify-content: center;


	&-item {
		color: $black;
		font-family: "OpenSans", sans-serif;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		cursor: pointer;
		margin-right: 30px;

		&:last-child {
			margin-right: 0px;
		}

		&.active {
			color: $blue;
		}
	}
}

.catalog-sumoselect {
	font-family: "OpenSans", sans-serif;
	.SumoSelect > .CaptionCont {
		border: none;
		font-family: "OpenSans", sans-serif;
	}
	.SumoSelect > .CaptionCont > label > i {
		background-image: url('../img/icons/arrow-down.png');
		background-size: contain;
		transform: none;
	}
	.SumoSelect > .CaptionCont > span.placeholder {
		color: inherit;
		font-style: inherit;
	}
	.SumoSelect > .optWrapper > .options li.opt.disabled {
		display: none;
	}
}

.card-gallery {
	&-wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex: 0 1 60%;
	}
	&-mini {
		padding: 0 15px;
		flex: 0 1 153px;
		width: 135px;
		height: 700px;

		&__img {
			height: 135px;
			width: 135px;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				height: 100%;
				width: 100%;
			}
		}
	}
	&-big {
		flex: 0 1 700px;
		width: 700px;
		height: 700px;
	}
}

.card-main {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.card-info {
	&-wrapper {
		flex: 0 1 35%;
	}

	&-head {
		margin-bottom: 40px;
		h2 {
			color: $black;
			font-family: "HelveticaBlack", sans-serif;
			font-size: 20px;
			font-weight: 400;
			line-height: 24px;
			margin: 0 auto;
		}
	}

	&-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	&-btn {
		font-family: 'OpenSansBold', sans-serif;
		font-size: 17px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-decoration: none;


		&--blue {
			background-color: #00aecd;
			border-radius: 6px 3px 3px;
			width: 175px;
			height: 60px;
			padding: 20px 25px;
		}


		&--yellow {
			border-radius: 3px;
			align-items: stretch;
			height: 60px;
			overflow: hidden;
			&__left {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 60px;
				background-color: #f4f4f4;
			}
			&__center{
				background-color: #ffdb4d;
				color: $black;
				padding: 8px 15px;
				font-family: "OpenSans", sans-serif;
				&--head {
					font-size: 13px;
					color: #4c4d4e;
				}
				&--main {
					font-size: 14px;
				}
			}
			&__right {
				background-color: #ffdb4d;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 60px;
			}
		}
	}

	&-like {
		.popular-item-img__like {
			position: static;
		}
	}

	&-benefit {
		justify-content: flex-start;

		&__img {
			width: 85px;
		}
	}
}

.supcoins-description {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	img {
		margin-right: 30px;
	}
}


.recommendation {
	font-family: 'OpenSans', sans-serif;

	&-head {
		color: $black;
		font-family: "HelveticaBlack";
		font-size: 16px;
		font-weight: 400;
		line-height: 18.43px;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	&-main {
		&-wrapper {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
	}

	&-item {
		margin-right: 20px;

		&-img {
			&-wrapper {
				width: 270px;
				height: 270px;
				background-color: #f3f3f3;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 45px;
			}


		}

		&-description {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 30px;

			&__name {
				text-transform: uppercase;
			}
		}

		&:last-child {
			margin-right: 0px;
		}
	}
}






