doctype html
html(lang="en").scrollbar-rail
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="shortcut icon" href="img/logo.svg")
		link(rel="stylesheet" href="styles/main.css")
		block title
	body.scrollbar-rail(style="overflow: hidden")
		.wrapper
			include components/header
			block contain
		
		//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkslnk8EAdAaemfr1cAifpzDiolTyy99Q&libraries=places")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtQMpc4MRFpmdc42z0OjRF2HLthIwvgdI&libraries=places")
		script(src="js/jquery.min.js")
		script(src="js/jquery.scrollbar.min.js")
		script(src="js/jquery.sumoselect.min.js")
		script(src="js/datepicker.min.js")
		script(src="js/jquery.inputmask.bundle.js")
		script(src="js/ion.rangeSlider.min.js")
		script(src="js/jquery.kladr.min.js")
		script(src="js/map.js")
		script(src="js/main.js")
