doctype html
html(lang="en").scrollbar-rail
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="shortcut icon" href="img/logo.svg")
		link(rel="stylesheet" href="styles/main.css")
		block title
	body.scrollbar-rail
		.wrapper
			include components/header
			block contain
			include components/footer
			include components/cart
		script(src="js/jquery.min.js")
		script(src="js/jquery.scrollbar.min.js")
		script(src="js/jquery.inputmask.bundle.js")
		script(src="js/jquery.sumoselect.min.js")
		script(src="js/slick.min.js")
		script(src="js/aos.js")
		script(src="js/main.js")
