.block.email
    .email-content
        .email-head Оформи подписку и получай свежие предложения и новости
        form.email-form
            input(type="text" placeholder="Email").email-form-input
            label.email-form-submit
                input(type="submit")
                | Отправить