.block.feedback
    .feedback-slider-wrapper
        .feedback-slider
            .feedback-slide-wrapper
                .feedback-slide
                    .feedback-slide-img
                        img(src="img/avatar.png", alt="")
                    .feedback-slide-text
                        .feedback-slide-name
                            .feedback-slide-name__text.text-bold Dmitry Ivanov
                            .feedback-slide-name__date 3 дня назад
                        .feedback-slide-main.text
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
                        .popular-item-descr-stars
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
            .feedback-slide-wrapper
                .feedback-slide
                    .feedback-slide-img
                        img(src="img/avatar.png", alt="")
                    .feedback-slide-text
                        .feedback-slide-name
                            .feedback-slide-name__text.text-bold Dmitry Ivanov
                            .feedback-slide-name__date 3 дня назад
                        .feedback-slide-main.text
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
                        .popular-item-descr-stars
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
            .feedback-slide-wrapper
                .feedback-slide
                    .feedback-slide-img
                        img(src="img/avatar.png", alt="")
                    .feedback-slide-text
                        .feedback-slide-name
                            .feedback-slide-name__text.text-bold Dmitry Ivanov
                            .feedback-slide-name__date 3 дня назад
                        .feedback-slide-main.text
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
                        .popular-item-descr-stars
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
            .feedback-slide-wrapper
                .feedback-slide
                    .feedback-slide-img
                        img(src="img/avatar.png", alt="")
                    .feedback-slide-text
                        .feedback-slide-name
                            .feedback-slide-name__text.text-bold Dmitry Ivanov
                            .feedback-slide-name__date 3 дня назад
                        .feedback-slide-main.text
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
                        .popular-item-descr-stars
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
                            .popular-item-descr-star
                                img(src="img/icons/star.png")
        .feedback-slider-arrow__prev
            <svg width="8" height="14" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 8 14"><defs><path d="M100.00019,5855.99902l7.99988,6.99907v-13.99771z" id="Path-0"/></defs><desc>Generated with Avocode.</desc><g transform="matrix(1,0,0,1,-100,-5849)"><g><title>Polygon 1 copy 5</title><use xlink:href="#Path-0" fill="#121315" fill-opacity="1"/></g></g></svg>
        .feedback-slider-arrow__next
            <svg width="8" height="14" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:avocode="https://avocode.com/" viewBox="0 0 8 14"><defs><path d="M100.00019,5855.99902l7.99988,6.99907v-13.99771z" id="Path-0"/></defs><desc>Generated with Avocode.</desc><g transform="matrix(1,0,0,1,-100,-5849)"><g><title>Polygon 1 copy 5</title><use xlink:href="#Path-0" fill="#121315" fill-opacity="1"/></g></g></svg>
