footer.footer
		.footer-top
			.container
				.footer-top-content
					.footer-top-item
						.footer-top-item__head Покупателям
						a.footer-top-item__link(href="#") Обзоры
						a.footer-top-item__link(href="#") Оплата
						a.footer-top-item__link(href="#") Доставка
						a.footer-top-item__link(href="#") Гарантия
						a.footer-top-item__link(href="#") Возврат
						a.footer-top-item__link(href="#") Сервисный центр
						a.footer-top-item__link(href="#") Бонусная программа
					.footer-top-item
						.footer-top-item__head Компания
						a.footer-top-item__link(href="#") О нас
						a.footer-top-item__link(href="#") Команда
						a.footer-top-item__link(href="#") Блог
						a.footer-top-item__link(href="#") Вакансии
						a.footer-top-item__link(href="#") Контакты
					.footer-top-item
						.footer-top-item__head Сапсерферу
						a.footer-top-item__link(href="#") БУ оборудования
						a.footer-top-item__link(href="#") Сапсерфер
						a.footer-top-item__link(href="#") Уроки
					.footer-top-item
						.footer-top-item__head Сотрудничество
						a.footer-top-item__link(href="#") Поставщикам
						a.footer-top-item__link(href="#") Оптовикам
						a.footer-top-item__link(href="#") Партнерская программа
					.footer-top-item
						.footer-top-item__head Контакты
						a.footer-top-item__link(href="tel: +7 (800) 555 14 69") Россия: +7 (800) 555 14 69
						a.footer-top-item__link(href="tel: 495 118 21 70") Москва: 495 118 21 70 
						a.footer-top-item__link Санкт-Петербург:
						.footer-top-item__link--row
							a.social-link(href="#")
								img(src="img/icons/vk.png", alt="vk")
							a.social-link(href="#")
								img(src="img/icons/tl.png", alt="tl")
							a.social-link(href="#")
								img(src="img/icons/tw.png", alt="tw")
							a.social-link(href="#")
								img(src="img/icons/fb.png", alt="fb")
						.footer-top-item__link__hash #ясапсерфер
		.footer-bottom
			.container
				.footer-bottom-content
					.footer-bottom-content-side
						.footer-bottom-content-side__item(data-mob="yandex-zaebal")
							img(src="img/footer-bottom-1.png", alt="яндекс-маркет")
						.footer-bottom-content-side__item
							img(src="img/footer-bottom-2.png", alt="объединение суп-проектов")
					.footer-bottom-content-side
						.footer-bottom-content-side__item
							img(src="img/footer-bottom-3.png", alt="рог")
						.footer-bottom-content-side__item
							img(src="img/footer-bottom-4.png", alt="виза")