header.header
	.container
		.header-container
			.header-item
				.header-logo
					img(src="img/logo.svg", alt="logo")
			.header-item
				a.header-link(href="#") Мои кампании
				a.header-link(href="#") Статистика
				a.header-link(href="#") Пополнить баланс
