header.header
    .header-top
        .header-container
            .header-top-item.select_city
                select.select
                    option(value="Санкт-Петербург") Санкт-Петербург
                    option(value="Москва") Москва
                    option(value="Лондон") Лондон
                    option(value="Париж") Париж
            .header-top-item
                a.header-tel(href="#") 8 800 555-35-37
                a.header-callback(href="#") Перезвоните мне
            .header-top-item
                .nested-ul
                    .nested-ul-head
                        .nested-ul-head__text Для покупателей
                        .nested-ul-head__arrow
                    .nested-ul-inner
                        a.nested-ul-inner__item(href="#") link
                        a.nested-ul-inner__item(href="#") link
                        a.nested-ul-inner__item(href="#") link
                        a.nested-ul-inner__item(href="#") link
            .header-top-item.header-top-item--last
                form.search-bar
                    input(type="text" placeholder="Поиск по каталогу").search-input
                    label.search-button
                        input(type="submit")
                        img(src="img/icons/zoom.svg")
    .header-bottom
        .header-container
            .header-bottom-item
                .header-logo
                    img(src="img/logo.png", alt="supshop")
            .header-bottom-item.header-bottom-ul
                a.header-bottom-ul__li(href="#") Доски
                a.header-bottom-ul__li(href="#") Весла
                a.header-bottom-ul__li(href="#") Паруса
                a.header-bottom-ul__li(href="#") Акссесуары
                a.header-bottom-ul__li(href="#") Одежда
                a.header-bottom-ul__li(href="#") Гидрофойлы
                .header-bottom-ul__li
                    .nested-ul.nested-ul--blue
                        .nested-ul-head
                            .nested-ul-head__text Распродажа
                            .nested-ul-head__arrow
                        .nested-ul-inner
                            a.nested-ul-inner__item(href="#") link
                            a.nested-ul-inner__item(href="#") link
                            a.nested-ul-inner__item(href="#") link
                            a.nested-ul-inner__item(href="#") link

            .header-bottom-item.header-bottom-item--last
                .btn-gradient
                    a.header-bottom-btn(href="#")
                        p Пройти тест на выбор доски
                a.header-functional(href="#")
                    .header-functional__text лк
                    img.header-functional__img(src="img/icons/lk.png")
                div.header-functional
                    a.header-functional__liked(href="#")
                        img(src="img/icons/liked.svg")
                    a.header-functional(href="#")
                        .header-functional__text 12
                        img.header-functional__img(src="img/icons/cart.png")
                    

