.lk-sidebar
    .lk-sidebar-btn
    .lk-sidebar-head
        h3.lk-sidebar-head__h3 Личный кабинет
    .lk-sidebar-main
    .lk-sidebar-main-ul
        a(href="lk.html").lk-sidebar-main-ul-li
            .lk-sidebar-main-ul-li__inner
                .lk-sidebar-main-ul-li__img
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22" fill="none">
                        <path d="M1 11L12.25 1L23.5 11M3.5 21V11L4.75 9.92857L12.25 3.5L19.75 9.92857L21 11V21H19.75H4.75H3.5Z" stroke="black"/>
                    </svg>
                .lk-sidebar-main-ul-li__text Главный экран
        a(href="lk-orders.html").lk-sidebar-main-ul-li
            .lk-sidebar-main-ul-li__inner
                .lk-sidebar-main-ul-li__img
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <path d="M13.7778 5.44444H21V21H1V5.44444H8.22222M13.7778 5.44444C13.7778 5.44444 13.9902 1 11 1C8.00979 1 8.22222 5.44444 8.22222 5.44444M13.7778 5.44444H8.22222" stroke="black"/>
                    </svg>
                .lk-sidebar-main-ul-li__text Мои заказы
        a(href="lk.html").lk-sidebar-main-ul-li
            .lk-sidebar-main-ul-li__inner
                .lk-sidebar-main-ul-li__img
                .lk-sidebar-main-ul-li__text Реферальная программа
        a(href="lk-message.html").lk-sidebar-main-ul-li
            .lk-sidebar-main-ul-li__inner
                .lk-sidebar-main-ul-li__img
                .lk-sidebar-main-ul-li__text Сообщения